@media #{$D7} {
  .map-container {
    display:none;
  }
}


@media #{$D4} {

  .map-container {
    display:block;
    position:absolute;
    width:100vw;
    height:100vh;
  }

  .map-page {
    position:absolute;
    padding:20px;
    height:100%;
    width:100vw;
    box-sizing: border-box;
    overflow:hidden;
    background-color:$white;
    cursor:grab;
  }
  
  .map {
      position: relative;
      overflow:hidden;
      display:block;
      height:100%;
      cursor:-webkit-grab;
  }

  .map.dragged-map {
    cursor:-webkit-grabbing;
  }
  
}


