@media #{$D7} {
  
  .modal {
    position:relative;
    z-index:700;
    
    display:none;
    box-sizing: border-box;
    width:100%;
    height:100%;
    padding:160px 40px 100px 20px;

    background-color:rgba($white, 0.97);
  }

}

@media #{$D6} {
  .modal {
    padding-top:140px;
    padding-left:60px;

    p {
      padding-right:80px;
    }
  }
}

@media #{$D5} {
  .modal {
    padding-right:280px;

    p {
      padding-right:0;
    }
  }
}

@media #{$D4} {
  .modal {
    position: absolute;

    top:20px;
    right:300px;
    left:initial;
    
    overflow:scroll;
    box-sizing: border-box;
    width:50%;
    height:100%;
    padding-top:100px;
    padding-left:40px;
    padding-right:0;

    p {
      padding-right:180px;
    }
  }
}

