
.pos-1 {
  top:1200px;
  left:200px;
}

.pos-2 {
  top:1100px;
  left:600px;
}

.pos-3 {
  top:700px;
  left:1000px;
}

.pos-4 {
  top:1250px;
  left:1400px;
}

.pos-5 {
  top:950px;
  left:2000px;
}

.pos-6 {
  top:1200px;
  left:2075px;
}

.pos-7 {
  top:400px;
  left:250px;
}

.pos-8 {
  top:675px;
  left:575px;
}

.pos-9 {
  top:425px;
  left:1900px;
}

.pos-10 {
  top:750px;
  left:2275px;
}

.pos-11 {
  top:375px;
  left:875px;
}

.pos-12 {
  top:400px;
  left:1200px;
}

.pos-13 {
  top:400px;
  left:1600px;
}

.pos-14 {
  top:800px;
  left:1400px;
}

.pos-15 {
  top:900px;
  left:1000px;
}