// This is a shame stylesheet
// Hacks and overrides appear here until they've found their right home.



@media #{$D7} {

  .thank-you {
    float:left;
    margin-top:20px;
    padding-top:20px;
    padding-bottom:200px;
    h3 {
      font-family: $sans;
      text-transform: none;
      letter-spacing: 0;
      font-size:18px;
      margin:0;
      padding:0;
    }
    ul {
      padding:0;
      margin:0;
    }
    li {
      list-style: none;
      display:inline-block;
      font-style: italic;
      color:gray;
      &:after {
        content: ", ";
        font-size: 15px;
        position: relative;
        top:1px;
        color:lightgray;
      }
      &:last-of-type:after {
        content:"";
      }
      &:last-of-type:before {
        content:" and ";
        color:gray;
        font-style: normal;
      }
      a {
        color:gray;
        text-decoration: underline;
      }
    }
  }

	#close-modal {
		display:none;
	}

	// SETTINGS
  body {
    max-width:100vw;
    // background-color:white;
    & ::selection {
      background: $black;
      color:white;
    }
  }

  #editorial_note {
  	display:none;
  }

  // BIO
  .team-member {
    width:120px;
    margin-right:20px;
    border-radius: 4px;
    float:left;
    height:120px;
    overflow:hidden;
    margin-bottom:20px;
    img {
      opacity: 0.2;
      width:100%;
      position:relative;
    }
    .active img {
      opacity:1;
    }
  }
  .team-member:last-of-type{
    margin-right:0;
  }
  .bio-container {
  }
  .group {

  }
  .bio {
    display:none;
    h3 {
      display:inline-block;
      font:14px/20px 'Times New Roman';
    }
    h4 {
     font:14px/20px 'Times New Roman';
    }
  }



}

@media #{$D6} {

}

@media #{$D5} {

}

@media #{$D4} {
  #close-modal {
  	display:block;
  	position: absolute;
  	top:20px;
  	right:40px;
  	font-weight: 700;
  	color:$orange;
  	cursor:pointer;
  }
}


body {
  background-color:$white;
}

.fb-post {
  margin-bottom:40px;
  width:80%;
}

.youtube {
  position:relative;
  padding-bottom:56.25%;
  padding-top: 25px;
  height: 0;
  margin-top:40px;
  margin-bottom:20px;
  iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

.instagram-media {
  margin:0 !important;
  margin-bottom:80px !important;
  margin-top:40px !important;
}

.twitter-tweet:last-of-type {
  padding-bottom:20px;
}

