@charset "utf-8";

@font-face {
  font-family: 'Genome';
  src: url('/fonts/Genome-Thin.otf') format(opentype);
}

.modal h3 {
  font-size: 30px;
  font-family: Genome;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  font-weight: normal;
}

.modal h4 {
  display:inline-block;
}

.group {
  position:relative;
  width:100%;
  float:left;
}


