  $D7: 'screen and (min-width: 320px), screen and (-webkit-min-device-pixel-ratio : 2)
'; /* includes iPhone, */
  $D6: 'screen and (min-width: 641px)';
  $D5: 'screen and (min-width: 822px)';
  $D4: 'screen and (min-width: 1081px)';
  $D3: 'screen and (min-width:1441px)';

// $white:#FBFFF5;
$white:#eeebe6;
$black:#130C06;
$black:#383838;
$gray:#D1D1D0;
$green:#0D7C82;
// $bluegreen:#43B4BC;
// $orange:#F47C29;
$orange:#f36b4c;
$red:#91002A;
$darkgreen:#198943;
$blue:#383838;
$bluegreen:#5778FF;
$green:#383838;
$darkorange:#c6570a;

$sans:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@import 'positions';
@import 'menu';
@import 'toc';
@import 'pin';
@import 'map';
@import 'panorama';
@import 'footnote';
@import 'body';
@import 'modal';
@import 'running-head';
@import 'shame';


