@media #{$D7} {
  .logo-mark {
    height:100px;
    width:100px;
    background-color:$white;
    position: fixed;
    box-sizing: border-box;
    // right:20px;
    // bottom:220px;
    left:20px;
    bottom:20px;
    padding-top:20px;
    img {
      height:100%;
    }
  }

  .logo-band {
    position:relative;
    width:100%;
    img {
      position:relative;
      display:block;
      margin:0 auto;
      width:40px;
    }
  }

  .menu {
    position:fixed;
    z-index: 1000;
    right:0;
    bottom:0;
    left:0;
    padding:0;
    
    box-sizing: border-box;

    background-color:$white;
    color:white;
    border:20px solid $white;
    border-top:10px solid $white;
    border-bottom:10px solid $white;

    font-size:20px;
    letter-spacing: 0.11em;
    text-align:right;
    
    a {
        text-decoration: none;  
        color:$white;
    }
    h2 {
      font:76px/60px $sans;
      font-weight: bold;
      margin:0;
      cursor:pointer;
      text-transform:lowercase;
      letter-spacing:0;
    }
    h3 {
      font-size: 20px;
      line-height: 40px;
      letter-spacing: 0.649em;
      margin-bottom:0;
      text-align: left;
      padding-left: 10px;
      font-weight: normal;
      margin:0;
      text-transform:uppercase;
    }
    h4 {
      margin:0;
      // padding-top:2px;
      line-height: 10px;
      font-size: 14px;
      text-align: left;
      padding-left:11px;
      font-weight: 500;
    }
    li {
      list-style: none;
      padding-top:2px;
      padding-bottom:2px;
      letter-spacing:0;
    } 
    li:hover a {
      color:$orange;
    }
    li:hover > a:before {
      content:"*";
      color:$orange;
    }
    ul {
      display:none;
      margin:0;
      margin-top:10px;
      padding:0;
    }
    .menu-toggle {
      display:none;
    }
  }
}

@media #{$D6} {
  .menu {
    ul {
    }
  }
}

@media #{$D4} {
  .logo-band {
    display:none;
  }
  .menu {
    width:300px;
    padding:10px;
    padding-top:20px;
    padding-right: 20px;
    padding-bottom: 20px;
    left:initial;
    right:0;
    margin-right:0;
    float:right;
    box-sizing: border-box;
    background-color:$black;
    // border-left:0;
    &:hover {
      // background-color:rgba($black, 0.8);
      background-color: $orange;
    }
    p {
      padding-top:10px;
      padding-left: 12px;
      font-size: 13px;
      color:gray;
      line-height:10px;
      letter-spacing: 0;
      text-align: left;
      margin:0;
    }
    .menu-toggle {
      display:block;
    }
  }
}


