.logo-mark
  = image_tag "cpcj-logo.svg"

.menu
  %a.menu-toggle{:href => "/"}
    %h2 Media Landscape
    %h3 Two Thousand Fifteen
  %ul
    %li 
      %a#toc_button.menu-button{:href => "#toc"}
        Table of Contents
    %li 
      %a#panorama_button.menu-button{:href => "#"}
        Panorama
    %li 
      %a#about_button.menu-button{:href => "#about"}
        About