@media #{$D7} {
  
  #toc {
    padding-left:120px;
    h3 {
      font: 14px/26px Helvetica;
      color:$darkorange;
    }

    .toc-item {
      position: relative;
      border-bottom: 1px dotted whitesmoke;
      margin-bottom:26px;
    }

    .toc-item-title {
      padding:0;
      margin:0;
      font: italic 21px/26px Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
      
      a {
        color:$black;
      }
    }

    .toc-byline {
      color:gray;
      padding-right:0;
    }

    .toc-item-art {
      width:80px;
      height: 80px;
      float:left;
      left:-100px;
      position: absolute;

      img {
        margin-top:-10px;
        width:100%;
      }
    }
  }
}

@media #{$D4} {
  #toc {
    .toc-item-art {
      width:80px;
      height: 80px;
      float:left;
      left:-100px;
      position: absolute;

      img {
        width:100%;
      }
    }
  }
}