// Mobile-First Styles

@media #{$D5} {
  
  .body {
    position:relative;
    h4 {
      font-size:25px;
    }

    p {
      padding-right:280px;
    }

    sup {
      vertical-align: baseline;
      position:relative;
      font-size:0.6em;
      top:-0.45rem;
      padding-left:0.12em;
      padding-right:0.16rem;
      // font-weight: bold;
      color:$black;
      cursor:pointer;
      font-family:Helvetica;
    }

    .lede {
      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens:none;
      text-align: left;
    }

    .footnote {
      display:none;
    }

    .marginal-fn.footnote {
      float:right;
      color:gray;
      margin-top:-22px;
      right:10px;
      width:200px;
      padding-left:20px;
      padding-right:30px;
      box-sizing: border-box;
      font-size:15px;
      line-height: 17px;
      position:absolute;
      text-align: left;
    }

    .fullscreen-fn {
      width:100%;
      height:100%;
      background-color:rgba($white, 0.9);
      position:fixed;
      top:0;
      left:0;
      -webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
      -ms-user-select: none;      /* IE 10+ */
      user-select: none;          /* Likely future */    

      div.fn-block {
        padding-top:150px;
        width:55%;
        padding:40px;
        padding-top:20vh;
        box-sizing: border-box;
        background-color:$white;
        margin:0 auto 0 20%;
        img {
          width:100%;
        }

        .fn-caption {
          padding-right:0;
        }        

        .fn-close-button {
          display:inline-block;
          clear:both;
          margin:0 auto;
          background-color:$black;
          color:$white;
          width:auto;
          font-family: Helvetica;
          font-size: 14px;
          font-weight: bold;
          padding:4px 10px;
          text-transform: uppercase;
          border-radius: 4px;

        }
      }
    }

  }

  .map-page {
    padding:20px;
    // padding-bottom:220px;
    height:100vh;
    width:100vw;
    box-sizing: border-box;
    overflow:hidden;
    background-color:$white;
    cursor:grab;
    display:block;
    bottom:220px;
  }









}
