- content_for :title, "New York State of Mind"

:markdown

  <div class="running-head"><strong>Ben Williams</strong>, <em>NYMag.com</em>, Editor.</div> <h2 class="title">New York State of Mind</h2>
  <p class="byline">By Katie Parker Magyar</p>
  <p class="dek">How New York Magazine expanded beyond the five boroughs and made its voice global.</p>
   
  <p class="lede">Now more than ever, technology has connected us to one another, but what can go missing as a result is our unique and authentic voice, which is easily drowned out by thousands of others on the internet. <a href="http://nymag.com">New York Magazine</a> is a publication that has managed to have its cake and eat it too — they have maintained their distinctively New York character while growing their readership nationally. New York Magazine’s expansion from a local print publication to a national multimedia entity was seamless enough for Washington Post media critic Howard Kurtz to remark that "The nation's best and most-imitated city magazine is often not about the city — at least not in the overcrowded, traffic-clogged, five boroughs sense." This transition was no easy feat. I sat down with Ben Williams, New York Magazine’s online editorial director, who described this by saying “It’s called New York Magazine. It always had the identity of a local publication, but on the internet you don’t want to limit yourself to just the audience in your city.”</p>

  As Williams has been with New York Magazine for over a decade — first as a senior editor in 2004, and then in his current capacity as the online editorial director — he has been in the front row watching these changes. Born in London, the NYC transplant first worked at CitySearch and then at Slate before joining New York Magazine, where he has proved himself to be instrumental for the website’s transition from a purveyor of magazine content to its own content destination.
   
  Williams characterizes the new tone that has developed, saying that “The web encourages a conversational tone; it encourages more humor, more playfulness. Trying to be funny is much more of a part of the website’s mission, while it’s more of a subtle thing in the magazine.”
   
  This tone is consistent in Nymag.com, and in this very interview, as Williams is refreshingly candid and unfailingly witty while talking about the changing media environment that has contributed to their success. His humor is matched by his firsthand knowledge — Williams is a veritable historian for the site’s expansion, as he has overseen the site’s expanding portfolio of blogs, which now includes Daily Intel, The Cut, Grub Street, The Science of Us, and Vulture. In 2014, the magazine branch of New York cut its distribution from a weekly to a bi-weekly magazine — now publishing only 29 issues per year, versus 42. While this happened to their printed publication, the digital empire of New York Magazine only has continued to grow.

  In transitioning to a more national media entity, the publication has expanded its reach beyond the confines of the five boroughs. This is a direct result of Williams’ pioneering efforts to take its signature funny, smart, and irreverent attitude and reproduce it for a larger audience.

  Williams said, “About a third of our audience online is New York based, and the other two thirds are from other places around the country and the world.” It is this demographic that has caused new growth in New York Magazine’s print subscriptions across the country. He then said, “It has actually become more of a national magazine now. 10 years ago almost everything in the magazine had a New York connection.”

  <p class="pullquote">We are trying to represent the New York state of mind, the urban state of mind, and the cosmopolitan state of mind, which come with a set of values and attitudes that resonate beyond New York. It’s about wit and smarts and irony and sophistication, about getting a little crazy sometimes.”</p>
   
  The distinctly New York tone is something that Williams strives to maintain, despite how the they are publishing more national features. In transitioning more local stories to national coverage, Williams notes that “What changed is that now we think of it as more of a state of mind — we are trying to represent the New York state of mind, the urban state of mind, and the cosmopolitan state of mind, which come with a set of values and attitudes that resonate beyond New York. It’s about wit and smarts and irony and sophistication, about getting a little crazy sometimes.”
   
  What native New Yorker would disagree with that?
   
  ###### The Online Voice
   
  The consistency of the publication’s intelligent, irreverent tone fostered its ability to retain its identity as a city magazine for New Yorkers, while reaching an audience that exists beyond those five boroughs.  Maintaining the dynamic between high-brow and low-brow content is the way that Williams proposes to accomplish this:
   
  “Our voice is possibly the main thing that people come to us for, and we always try to be smart and funny, which is tricky because it’s easy to be one or the other. There is a lot of policy coverage, a lot of smart, serious political coverage out there that can also be dry and boring. There’s also a lot of funny stuff out there that is entertaining and amusing, but is ultimately kind of trivial. It might amuse you for two seconds. The formula is to take frivolous things seriously and to have fun with serious things. The belief of Vulture is that if we are going to cover opera, let’s write about a fight in the orchestra rather than just doing a staid review of an opera production that people aren’t going to.”
   
  Williams also believes that this signature tone is enhanced on nymag.com, saying that “The magazine has a sense of humor, but that sense of humor is much more accentuated online. There is a different type of writing that flourishes more online than in print. Due to the intimate relationship readers develop with bloggers, people are coming back to the website all day, hopefully reading multiple items and feeling like they have a relationship with the bloggers.”
   
  Williams compares these bloggers to radio hosts and describes TV anchors as developed personalities:
   
  “You’re coming to hear that person and that’s why the conversational tone comes in. For magazine writers who have bi-monthly bylines, readers don’t necessarily think about that writer so much because they’re only seeing that byline every so often.”

  So, even though the overall sensibility is the same, they are expressed in slightly different ways. While this sensibility — to be intelligent and smart and entertaining — is almost commonplace these days, it’s not an easy balance to pull off. This is what makes the successful re-launch of The Cut, which was their online fashion blog, so remarkable.

  In recent years, The Cut experienced an identity overhaul, transitioning from a blog that strictly covered fashion to a women’s lifestyle site. The Cut was a success in a very crowded marketplace; when the site launched there were immediate comparisons drawn to Gawker Media’s Jezebel. The comparisons only grew when Maureen O’Connor was hired away from Gawker to run the features section, Love and War. The Love and War column chronicles the romantic exploits of millennials via first-person personal essays that are reminiscent of the New York Times’ famed Modern Love columns. Williams says that this reflects how interpersonal relationships in 2015 are filtered through the internet and social media, because that’s just how people live now. Our online selves and digital correspondences directly impact physical sex, dating, and relationships. To exclude a seemingly trivial text message from your writing is to diminish its very relevance.
   
  Williams explains by saying, “If you’re not doing that, you’re not really engaging with what people are doing in the moment. I read a statistic the other day that said 45 percent of people who date in New York meet the other person through a dating website, which is much higher than most other places.”
   
  In this hyper-connected age, the digital minutiae and debris that collects around our exes lives on long beyond the relationship itself: We see our them on friends’ Facebook pages and they are never more than one Snapchat away. Exes are essentially always within arm’s reach, and oftentimes in our pockets. Maureen O’Connor’s article on this, “[All My Exes Live in Texts: Why the Social Media Generation Never Really Breaks Up](http://nymag.com/thecut/2013/07/texting-exes-social-media-generation.html),” was shared nearly 100,000 times. This cultural examination — from how changing gender roles affects courtship to how Venmo is a useful way of stalking your ex — is the trademark of the publication.
   
  When asked about competition, Williams said:

  “I think Jezebel has a very clear point of view, or maybe only a singular point of view. They are making their basic mission to look for everyday examples of injustice against women, and they’re looking to expose that in different ways and critique it. That is the heart of what Jezebel is. Obviously, there are a lot of people who love that, and there are some people who can find it a little one-note. Feminism is a part of the Cut’s identity, but it’s not necessarily just about that one thing, like you know, ‘let’s find injustices against women.’”
   
  Williams points to The Cut’s fashion coverage and fashion photography as a point of differentiation; interestingly there is a borrowed-from-print element in its definition. He cites the beautiful images and layout of women’s fashion magazines, citing in particular Elle, Vogue, and Marie Claire as inspiration for The Cut, saying “One of the things we talked about when we relaunched was that we wanted to have the production values and sophistication of a women’s magazine. We tried to make the design really gorgeous.”
   
  They accomplished this with high-quality, expandable images in slideshows, making things like the very popular “Look Book” feature, which enables the fashion-minded to scroll through hundreds of looks from a certain celebrities or events.
   
  Williams says, “We run quite a lot of original photography: we do our own versions of fashion shoots. That kind of visual element is not really present in most other women’s sites. The Cut is the closest thing to an actual woman’s magazine online. We wanted to combine that visual element with the fun scrappiness of blogs — the online destination intended was to be entertaining, but also sophisticated and beautiful.”
   
  Adam Moss, New York Magazine’s editor-in-chief, echoed this at the time of the re-launch. Smith said, "Our goal was to create a mash-up between a high-end fashion magazine and a blog.” This sparked headlines across the media industry, both from a business perspective: “New York Magazine's Revamped 'The Cut' Blog Will Take On The Fashion Glossies” [Business Insider], as well as fashion one: “The Age of The Blogazine Is Upon Us: Style Blogs Now Aspire to be ‘Part Jezebel, Part Vogue’” [Racked].This combination is pioneering still; Williams says, “I don’t think that anyone else is quite in this space in the same way.”
   
  ###### The Medium is the Message

  In terms of both content and distribution, writing on the internet has altered dramatically since Williams first started in the industry. When talking about the growing digital world that existed in the 1990s, Williams reflects on his previous employer, saying: 
   
  “You can argue that Slate invented aggregation, with their daily round-ups that explained the day’s papers as one story that linked to loads of other stories. Eventually, people started figuring out ways of writing that were more native to the internet. If you want to go back to Marshall McLuhan, ‘the medium is the message.’ In any media, the medium shapes the content.
  With the advent of blogging in the 2000s, writers took one story, and instead of linking it with loads of different stories within one article, they made a different article out of every story. These blogs first were based largely on commentary. Gawker was originally a  sarcastic, mean commentary on things in the media industry. After that, people came along and industrialized aggregation.”
   
  Williams goes on, citing the Huffington Post as a prime example of  this type of website:
   
  “The Huffington Post was almost entirely rewriting other people’s stories on a huge scale. Then, people turned into members of the workday audience. They might come look at lunch, but they might also come back at three to see what’s going on as well. People figured that if you publish a lot of stories on a given day, you’ll get more readers than if you just publish one thing. Then, as the technology changed and people figured out how to write for the medium, the next big thing was social media, which changed things again. People started writing according to what people were going to share on social media. Social media has become a hugely important driver of audiences to websites in the past two years. Especially Facebook, but also Twitter, Pinterest, and other sites.”
   
  <p class="pullquote">Anybody who’s reading through the lens of social media is inundated with stories from all different sources, and is subject to that mash-up sensibility.</p>

  This has created a more democratic, albeit chaotic, environment for content. Williams says, “Anybody who’s reading through the lens of social media is inundated with stories from all different sources, and is subject to that mash-up sensibility. I’m not going to say it didn’t exist eight or nine years ago, but it was less common.” Williams returns to the magazine’s mission statement when describing how this relates to the work of New York Magazine, saying “Usually in something that people find popular and entertaining, there’s usually something more going on that you can tease out. Things in the world that people dismiss as being silly could gesture towards some larger interest or insight. The Buzzfeed phenomenon of the white/blue dress for example: ‘Why do we see the dress that way? What’s going on? Let’s explain how color fields work.’”
   
  This type of work is also seen on their most recently launched blog, The Science of Us, which uses science to explain why humans do things. Williams believes that the blog creates the type of content that performs very well on social media:
   
  “It was an experiment because it was a little off the beaten track for us, but we thought it would do well on social media. We felt these are the stories that people would want to share. We felt it would play well on social media because you can be like ‘this explains something about me,’ and that has proven to be the case.” Williams notes that “all of our sites get a lot of traffic from social media, but I think Science of Us gets the most — as much as two times the traffic.”
   
  Williams contends that this sheer volume of online content has different demands upon the writer, saying “We publish about a hundred stories a day, and it’s not possible to edit all of those in the way you would in a print publication.” He compares the process of editing to coaching a team of writers:
   
  “Players have to go out in the field and do it themselves a lot — they’ve got to write. As a result, you have to be able to write first good draft pieces, because less editing happens online. We probably have more editing happening here than 98 percent of other websites, but it’s still not nearly as much as happens in print. This is the big difference between print and digital writers. There are great print writers whose pieces get a huge amount of editing, and if you saw their first drafts you might be like wow.”
   
  What is Williams’ advice to younger writers?
   
  “You have a generation of writers who grew up on blogs. There is a voice that people associate with blogs that is slightly sarcastic, kind of funny, and youthful sounding; it is a voice that writers today have almost automatically because of what they grew up reading. The challenge is to teach them how to write in a more old fashioned sense: to keep the conversational tone and the funny, but also to learn how to develop an argument, how to report, and how to structure a longer piece.”
   
  So, fellow 20-something writers, perhaps graduate school may not be a complete waste of time. As for whom William considers a media innovator?
   
  “I think obviously Buzzfeed is doing interesting things. Some of it I like, some of it I’m less interested in, but it’s certainly interesting.”
   
  Spoken with a measured restraint, one would sooner associate the printed page with the blog post. Though perhaps in another decade, technological advances will further level the playing field and such writing will be indistinguishable. May New York Magazine have readership in Antarctica when that day comes.
   

<p class="byline">Edited by Andreas Eckhardt-Læssøe</p>