- content_for :title, "New York Times Magazine: The Gray Lady’s Cooler Cousin"

:markdown

  <div class="running-head"><strong>Bill Wasik</strong>, <em>New York Times Magazine</em>, Deputy Editor.</div>
  <h2 class="title">New York Times Magazine: The Gray Lady’s Cooler Cousin</h2>

  <!-- <p class="dek">And how to keep that cousin cool in a new digital age, while still keeping your loyal crossword-solvers happy</p> -->

  <p class="byline">By Paula Duran</p>

  <p class="lede">It’s always interesting to feature the up-and-comers, the movers, the shakers, the geniuses, and the wunderkinds that are making an indelible mark on an expanding, rapidly transforming media landscape that, not too long ago, belonged to a few storied media institutions. But the big names cannot be forgotten easily; they might not be driving the change, but they certainly need to react to it. What kind of strategies are the legacy institutions developing to still be considered relevant and necessary? Enter New York Times Magazine, a 119-year old institution that just went through a major redesign and is still in the process of diversifying its presence on various platforms while still retaining the print flagship.</p>

  <p>The last decade has not been easy for the New York Times. The revered Gray Lady of print, used to a slower pace of news where her voice reigned supreme, has been shaken up by the fast-moving, ever-evolving digital revolution. In the past years it’s undergone two abrupt Editor-in-Chief changes (Keller<sup id="ref_1">1</sup><span class="marginal-fn footnote" id="foot_1">Farhi, Paul. <a href="http://www.washingtonpost.com/lifestyle/style/bill-keller-to-step-down-as-new-york-times-executive-editor/2011/06/02/AGML7HHH_story.html">“Bill Keller to Step down as New York Times Executive Editor.”</a>  Washington Post. The Washington Post, 2 June 2011. Web. 17 Mar. 2015.</span>-Abramson<sup id="ref_2">2</sup>-Baquet<sup id="ref_3">3</sup>) and has had to buy out or lay off a significant portion of their staff – 21 layoffs and 57 buyouts – as recently as December 2014.</p>

  <div class="fullscreen-fn footnote" id="foot_2"><div class="fn-block"><blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Way to go Jill Abramson! <a href="https://twitter.com/hashtag/smartgirlshavemorefun?src=hash">#smartgirlshavemorefun</a> RT <a href="https://twitter.com/Ed2010News">@Ed2010News</a> The <a href="https://twitter.com/nytimes">@NYTimes</a> just hired its first female exec editor! http://mbist.ro/lSFdhO</p>&mdash; Sarah Smith (@smisarah) <a href="https://twitter.com/smisarah/status/76347458149548032">June 2, 2011</a></blockquote></div></div>

  <div class="fullscreen-fn footnote" id="foot_3"><div class="fn-block"><img src="/images/NYT-Innovation-Report-Cover.jpg"><p class="fn-caption"><a href="http://www.scribd.com/doc/224608514/The-Full-New-York-Times-Innovation-Report">Download the New York Times Innovation Report (PDF)</a></p></div></div>


  This awakening has forced the Gray Lady to be aware of the changing tide. And she is trying mightily to keep up. The NYT innovation report from May 2014 discloses an organization that is conscious of their setbacks, but also of their opportunities. The report revealed a desire for more experimentation, a fuller understanding of the opportunities offered by technology, an urgent need to bridge the gap between the print and digital realms, and a long-term commitment to the reader.

  This is exactly what NYT magazine is trying to do. Under the helm of newly appointed Editor in Chief Jake Silverstein, the famous weekly magazine that arrives on Sundays as part of the NYT bundle has just been given a facelift. It’s not everyday that a 119 year old legacy magazine is redesigned. Why did they do it? Well, to get with the times.  It turns out, according to internal research, that the magazine is a product which subscribers love, and is the piece of the paper that is most engaged with by weekly readers. As an organization oriented towards the reader, it makes sense for the NYT to invest in the magazine. But they couldn’t think of it as a solely print product anymore.

  The new NYTmag, according to Silverstein’s Editor’s Letter, doesn’t want to be just a print magazine. In his words,

  Just as crucial to this latest reimagining of The New York Times Magazine as the print makeover is the idea that it shouldn’t be confined to print. In the next year, you’ll be seeing more of us outside the bundle that lands on your doorstep on weekend mornings. You’ll be able to find us on the daily web, in your earbuds during your morning commute, on social media and onstage….We love the print Times Magazine as much as you do, but we also love listening to podcasts, arguing on Twitter and wandering from link to link through the ever-expanding universe of online writing. And we’re looking forward to more fully joining that conversation.” NYTmag, in other words, wants to be the Gray Lady’s cooler cousin: tech-savy, intelligent, literary, worldly, irreverent, with a mind of its own.

  Bill Wasik, who coined the term “flash mob,” is a certified viral culture expert.  Formerly an editor at Harper’s  and most recently Wired, was convinced by Silverstein to come back to New York and be part of the magazine’s redesign. He is currently the magazine’s deputy editor, a spot that lets him honor his commitment to great writing while pondering the full range of the magazine’s digital potential.  In this crossroads, it is clear that Wasik is a curious optimist. He doesn’t believe in the end of print, but does feel the industry is at a crucial turning point: not doom, but experimentation. He sat down with us and discussed the current media landscape, the idea behind NYTmag’s redesign, the feedback they’ve gotten, and what he expects for the industry in the coming decade.

  ###### Paula Duran: You’ve been an intern, an editorial assistant, an editor, an author, and an expert on viral culture. Since you started out what have been the biggest, most important changes you feel the industry has gone through?

  Bill Wasik: So much has changed that I am inclined to respond with an opposite answer. This might sound self-serving from somebody who now works at The New York Times, but I actually feel that it's been very difficult for these new media organizations, to build a really deep brand reputation among readers as a trustworthy place to go and get their basic news. Now, I don’t mean to say that people don’t trust the Huffington Post or any of these organizations, but I will say that nobody has built a purely new media brand that has anywhere near the depth of association for people, even younger readers, that places like the New York Times and the Washington Post still have, and I don’t think it’s for want of seriousness among some of the people who built those brands.

  ###### So there hasn’t been quite the “media revolution?”

  What’s been interesting to observe now 15 years into the “new media revolution” is that while it really scrambled the business models of old-fashioned media organizations like the New York Times, I remain impressed by the staying power of the old media brands who have continued to do great, admirable work year after year.

  Even as organizations like ours need to be in invention-mode every single day to try to learn from what smaller organizations are doing, it’s an asset that we continue to sit on, that will continue to make us relevant even if it takes us a little while to figure out just how the business model works.

  ###### What skills or qualities do you find are key for aspiring journalists today that were not as relevant fifteen years ago?

  Having an identity that belongs to the individual journalist and doesn’t sponge off the reputation of the organization, is crucial. It’s easy to hide behind the reputation of your institution instead of understanding byline by byline, story by story, that writers need to establish a level of trust and interest with the reader. It’s about having an approachable way of interacting with readers. In that sense, you can pick up and move from organization to organization,

  I also think finding modes of authority in the way you write stories is important. 15 years ago, a lot of the authority derived from the place where you published, and that is no longer true. People want to see how you establish authority: whether it is who you are as a writer, or the kinds of stories you’ve published before, or even just the way that within an individual story you build a sense of authority by showing how you think about something or who you’ve talked to, or by revealing a personal connection to a story. You have to go out there and build authority with readers who maybe followed a link to your piece and don’t really have any prior association with you.

  ###### People say that “Twitter is over,” that Facebook is regaining momentum, that 2014 was Instagram’s year. What’s the big thing right now in terms of connecting with your audience?

  Mobile. It’s what everybody needs to think about, both from a revenue perspective, in terms of how you can make money off it, and from a reading experience in terms of individual stories and how to give readers the best possible experience. We have to understand what mobile means in terms of how readers bounce from story to story, how much of the mobile reading experience is going to happen in browsers versus apps and whether those apps are going to be our apps or whether they are going to be Facebook’s app. Those are the huge issues that we have to be thinking about right now and there’s a lot that we don’t know yet about how it’s going to play out.

  ###### Shifting gears, let’s talk about NYTmag. It’s a 119-year old, world-famous magazine, delivered with the Sunday Times. A new editorial team, a new 2015 design for the magazine. What was the motivation behind the redesign?

  Magazines should be redesigned, not every year necessarily, but part of the pleasure of the magazine as a mode of communication is that the people who run them are always thinking about how to make them more beautiful, more relevant. Even if there hadn’t been a new Editor in Chief, and I came in with him, I personally believe the magazine was due for a redesign simply because I think that magazines should redesign, its part of the pleasure of the craft.

  ###### Was there something specific you wanted to do with NYTmag?

  We had a different tone in mind for the magazine; we wanted it to be a more literary magazine, and a more intellectual magazine, both on its own terms and also the way we thought it could fit better into the NYT as a whole. We wanted to create a space within the Sunday NYT that is a counterpoint, an enrichment, or a balance with everything else that’s in that publication. Magazines are “voicier,” and we want to emphasize that.  One of the changes that we’re trying to pull off with the magazine is to create a space where voicy writing— both in the kind of more old-fashioned literary sense, but also in this new fangled, internet-y voice type sense, intemperate voices, with a wearing the point of view on the sleeve—can both have a home.

  <p class="pullquote">We wanted a ‘voicier’ magazine</p>

  ###### In this era of instant content creation and consumption, what is the contribution of a weekly magazine?

  It’s tricky because we’re putting our toe in creating original content every day, and we roll out the content of each week’s magazine before the issue actually reaches subscribers. So on some level we’re trying to think of ourselves less as a weekly magazine and more as a daily operation.

  <p class="pullquote">We’re trying to think of ourselves less as a weekly magazine and more as a daily operation</p>

  We have to create a weekly print product that is a wonderful experience for the readers that want to experience it that way--and that is still such a huge portion of our readership— and yet we understand that as people age and as times change, the conversation is slowly and steadily, and sometimes not so slowly, moving onto digital platforms. We also need to create individual stories that will be part of the NYT’s mix that will grab digital readers that way too.

  ###### What feedback have you gotten from readers?

  It’s been really positive. Most of the angrier, upset mail we’ve gotten had been about the changes in the front of the book in the sense that people missed the way that it was. The new paper stock, it turns out, doesn’t work as well with certain pens and pencils as the old one did so some of the dedicated crossword, puzzle fans are upset with that. But by and large the feedback has been overwhelmingly positive.

  ###### The cover on Knausgaard’s American road trip was big…

  Yeah. That is an example of a piece that we knew was going to have strong reactions on both sides, but I think that people liked the fact that we did it even if they didn’t like the actual piece and they appreciate that that’s the sort of magazine we want to be.

  ###### In 2009, you already had your eye on Buzzfeed. In that same sense, what or who is on your radar now?

  Well, I'm still very bullish on Buzzfeed. A lot of times people try to create oppositions between the NYT and Buzzfeed, but I think I speak for most people here at the Times when I say we really admire what Buzzfeed does. Great journalism has always been about cross-subsidy, meaning that you’re going to have journalism that is important for the public interest that is getting paid for by stuff that is a little bit more populist and commercial and grabs people’s eyeballs.

  The NYT itself is based on a form of cross-subsidy, all of those reporters that we have out there in the war zones are getting paid for by some of the more popular stuff that we do: real estate, style, we do lighter things all the time in the Times.  It’s all about creating a mix that works.

  Buzzfeed has this really innovative model: they have these listicles or gifs and they are doing this content that is genuinely entertaining for people and they’re creating a mix of that with really serious, breaking news. They’re writing really important pieces that everybody should read whether it’s about campus sexual assault or Eastern Europe. They’re building a full service media organization that mixes entertaining content with really important content and I am really rooting for them to succeed and for that type of cross subsidy to work. The more different models that can prove to be viable ways of supporting important journalism, the better off we’re all going to be because we’ll all be able to learn from one another, borrow from one another.

  Five years ago the story on Buzzfeed was “What are they going to become? How are they going to make a splash?” and the story now is can they make the transition to become a media organization that gets its arms around very different forms of writing, but manages to make it really coherent and to marry that with a very innovative sponsorship model.

  ###### What else are you excited about?

  Getting video right as a way to do journalism online. Understanding how to use video in an innovative way to tell what would’ve previously needed to be a more traditional treatment either sort of a TV-style treatment or just a straight text treatment. It’s doing something that’s neither of both things, like a hybrid, and maybe also having audio elements or interactive elements or infographic elements. Understanding how to fit all those things together in a way that not just makes sense in an individual story level but makes sense on a whole, platform level is one of the most interesting challenges right now. Fusion is doing stuff on an individual project level that is exciting, and then there’s Vice, Pitchfork, The Verge. Eventually you will see media organizations with video as their anchor, but really what they’re providing are these hybrid-designed things that use video in ways that are uncategorizable right now. Eventually you will have ways of doing whole takes on the news that blend all these different elements in a really native feeling way that we don’t even have a good word for right now.

  <p class="pullquote">We’re going through this period of great experimentation</p>


  ###### Finally, what’s your take on the next five to 10 years?

  We’re going through this period of great experimentation where individual organizations are trying to find models that work. Everybody is looking at what everybody else is doing and asking whether that would work for this or that organization. What we can all hope is that these next five or 10 years find models that really work and create proven ways to excite subscribers to pay for content and excite advertisers to be associated with content. We think of it as a very competitive time but that’s not nearly as important as the experimental part of this phase, in which we are all going to benefit from what everybody else discovers. What we can hope is that in 10 years, we can all learn from everybody else to create an industry that is on really solid footing.

  ###### Experimental era sounds better than the doom we had grown accustomed to hearing, don’t you think?

  <p class="pullquote">I'm optimistic that we’re going to figure it out… but it’s going to take a few more years.</p>

  Yeah, I don’t believe in doom. I believe that people need what we do, they want to read it, and they want to pay for it. Advertisers will also want to continue to pay for it. We just need to get from here to there. We certainly are trying really, really hard to experiment and find new ways to satisfy readers and excite advertisers, and everybody else is trying the same.  I'm optimistic that we’re going to figure it out… but it’s going to take a few more years.

  <p class="byline">Edited by Andreas Eckhardt-Læssøe</p>
