- content_for :title, "The New Collective Intelligence"

:markdown
  <div class="running-head"><strong>Emily Segal</strong>, <em>Genius</em>, Creative Director.</div>  

  <h2 class="title">The New Collective Intelligence</h2>

  <p class="byline">By Cecilia Mezulic</p>

  <p class="dek">A story on contemporary branding and online youth culture.</p>
   
  <p class="lede">When the internet became a structural part of society, the publishing industry started shaking and moving fast in order to keep up with new forms of communication. In this digital-native, post-internet landscape, data of all kinds is instantaneously collected, shared, remixed, re-uploaded; this is the internet’s production line, constantly redefining itself in a hyper globalized culture.</p>

  The continuous stream of information and visual stimuli have deeply affected concepts like individuality, aesthetics, and forms of consumption. This also means something new for content producers whose voices can be drowned out in the sea of digital information. Traditional advertising approaches don't seem to work anymore, especially for young consumers; which is why creating a brand today also means overcoming old school marketing dogmas. This is the place where two New York brands, the trend-forecasting group K-Hole and the open source annotation website [Genius](http://genius.com), have come up with new ideas — experimenting with new branding concepts, and decoding and framing youth culture to create its new identity.
   
  K-Hole, a New York-based trend forecasting collective that was founded in 2010, publishes trend forecasting reports modeled around corporate PowerPoint presentations, stock images, and advertising concepts that explore the aesthetics of today’s young consumer. In their most recent publication, Youth Mode: a Report on Freedom<sup id="ref_1">1</sup><span class="marginal-fn footnote" id="foot_1">K-HOLE and Box 1824.<a href="http://khole.net/issues/youth-mode/">"Youth Mode: A Report on Freedom."</a> <em>Youth Mode</em>. K-HOLE, Nov. 2013. Web. 15 May 2015. </span>, K-Hole freezes our current cultural moment taking a snapshot of today’s youth culture; the fluid transactions between the virtual and the real, the loss of uniqueness, and new "assertions of individuality." Youth mode replaces its hipster and indie-inspired predecessor with a more self-aware young consumer whose identity is formed through "self-identification rather than the self-differentiation.” This was a part of the popularization of #normcore, a concept turned into a fashion movement that revenged the bearded hipster with monochrome grayscale Bermuda jeans, and made khaki its flag colors.
   
  Working with the same generation as K-Hole, prefaced by technology and our post-9/11 information age, the annotation website Rap Genius coded new habits for young consumers on the internet. Its founders, newly graduated Yale students, started the project in 2009 with an early version of the website<sup id="ref_2">2</sup><span class="marginal-fn footnote" id="foot_2">K-HOLE and Box 1824.<a href="http://rapgenius-genesis.herokuapp.com/">"Cam’rom - Killa Cam Test."</a> <em>Rap Exegesis.</em> RapGenius, n.d. Web. 15 May 2015. </span> annotating rap lyrics. Since then, the website expanded from rap to more lyrics from different genres, legal texts, poetry, and even the Deceleration of Independence. This past summer, Rap Genius quietly shortened its name to Genius, and reinvented its brand into a new web annotation platform using the [Beta](http://genius.com/beta) feature that has the ability to annotate any page on the web. The new technology officially launched at MoMA PS1 on April third, where the Genius crew annotated live — projecting web pages on the huge vault of the VW Dome.
   
  By extending its annotation feature to the broader web, Genius has created a new overarching knowledge project that mirrors the way today’s youth consume and share media and predicts what its future could look like. Just like #normcore recognizes the structures that shape our consumption (without irony), Genius focuses on the interconnected nature of digital information and the need for unification under a new concept that makes the web even more “world wide.”
   
  Interestingly enough, Genius has recently hired one of the founders of K-Hole Emily Segal as their new Creative Director. On a rainy Friday morning, I wandered through the halls of Genius’ headquarters and talked with Segal about her perspective on Genius, its innovative annotation feature, and changes in media and the creative industry.
   
  ###### Cecilia Mezulic: What behaviors have changed in online news and media since you first started with K-Hole?
  
  Emily Segal: There are a lot more voices represented, things move fast and disappear quickly, there is a hair trigger sense of controversy and public shaming that is kind of new, and things become clickbait and buzzfeed-y in a more extreme way. I am applying part of what I learned and theorized about at K-Hole to the challenges of my work as a Creative Director for Genius, although they are very different projects. Genius is reacting to this scenario by developing a new tool that is an evolution of how we comment on things —  attempting to get out of the comment section where people just argue with each other. We are trying to get people to react in a different way; to change the conversation by literally changing the way commenting happens.
   
  <p class="pullquote">We are a knowledge project about decoding human culture with a varied cultural appetite, more than other companies that are branded online.</p>

  ###### What is your vision as the Creative Director for Genius?

  My ambition here is to build a cultural brand. We are a knowledge project about decoding human culture with a varied cultural appetite, more than other companies that are branded online. We are from New York and we want to show that we have this intercultural, interdisciplinary sensibility.
   
  ###### Does that have to do with the unbranded "Annotate" billboard on Canal Street?

  Yes, our strategy is not conventional. Genius is not only friendly — it is also irreverent, although it is something that is intended to be built by everybody. We want to express that. In the first issue of K-Hole, Fragmentation, we talked about how to have campaigns and branding strategies that don’t necessarily show the brand at first, but connect to them later in a different way. Freed from any sense of twentieth century traditional marketing, brands connect to people through culture. It is not about proving marketing metrics, but about making advertising a self-aware gesture of how you would think of your own brand. That’s what advertising is supposed to do. I don't think that the number of people who see the billboard should literally translate into the number of people that click our website. We want to raise awareness in general. I don’t view that as a direct conversion, and because of K-Hole I don’t feel like I have to. Something like #normcore never would have tested well if you used traditional marketing analytics, but it became a blockbuster concept that also applied to a lot of marketing strategies. We have experienced this asymmetry.
   
  ###### Was it meant to be that way?

  No. A big part of K-Hole was creating neologisms; using language in new and experimental ways to provide a vocabulary for people to talk about their experience — as consumers, and with marketing companies and brands. We played a lot with language. We didn’t invent #normcore as a word, but we used it as a neologism. It wasn’t set out to be a meme.
   
  ###### I think of K-Hole as social phenomenon, a reflection of the work of young creators and artists who are setting the tone for new social and marketing behaviors, finding new ways to create and promote identities through branding.
  
  Yes, all of this is my art practice, as well as the creative direction of Genius. There is this quote that "all design decisions are artistic decisions," and K-Hole has talked about how all marketing decisions are artistic decisions, and how all artistic decisions are also marketing decisions. This is a constellation I think about a lot when I think about my work, whether it’s trying to express the spirit of a big brand like Genius, consulting for companies, K-Hole, or stuff that I do personally. K-Hole started as a conceptual art project dealing with marketing that mimicked a lot of the publications that are passed around in the corporate world, but using a different, personal tone personal. It was a new format for the art world.
   
  ###### What corporations where you thinking about while making that project?

  We have gotten our hands on a lot of corporate trend forecasting reports from friends that work at agencies or companies that paid for them, and we were really into them. We thought that they were really funny and weird and interesting. They provided a different format for us to express interests and concerns that we had about how consumption works, things we were experiencing as young consumers. We thought it would be fun to make one ourselves because they were something strange and new to us. We were looking for objects that were not expensive, so that`s why we chose not to print. People in the art world at that time were really obsessed with print and we thought that it was time to explore different formats.
   
  ###### Is this also what you were thinking when you explored different formats for the Annotate campaign?
  
  There is a connection between street art, skate brands, and startups in terms of their values and their textures, so I wanted to draw that line aesthetically, although not explicitly. It is also connected to the empowerment of the new tool to explain things and not being limited by traditional commenting platforms.
   
  <p class="pullquote">The idea of annotating the internet has been a dream. A lot of startups and companies have tried to do it, it just hasn’t worked for various reasons, either there were technological or adoption problems. We are the people who are doing it now in this particular media landscape, but not the first ones.</p>

  ###### Where does this idea come from?
  
  A lot of people have tried to do this before. Since the very first internet browser, the idea of annotating the internet has been a dream. A lot of startups and companies have tried to do it, it just hasn’t worked for various reasons, either there were technological or adoption problems. We are the people who are doing it now in this particular media landscape, but not the first ones. It`s also connected to a big knowledge project like Rap Genius. We are learning from that, applying the same principle to the whole internet. There are some things that are different about the new tool. The annotations on Rap Genius are collectively edited to try and get a sense of the official word on something whereas in the tool now there is more personal commenting, so it’s not like you have to come to a consensus with other people. You can just say what you think, on your own name, and stand for that. It is a collective cultural process where people are adding their thoughts and annotations on the internet.
   
  ###### Do you envision any way that this could be of use in the journalism or news industry?
  
  It is a good fact-checking tool. The tool is still in a very early beta version. Some people have been using it that way. We still have to wait and see.
   
  ###### Can you tell me more about the baby in the promotional campaign? What is its connection with Genius?
  
  The baby mascot is not our logo, it`s just a piece of imagery for our brand. I was talking to Tom, one of the founders, about the journey of his personal style. He showed me a Bape hoodie that he was wearing the day they raised the first significant round of funding for the company, and I thought it would be fun and cool to redesign the hoodie that he wore on this momentous day for the company, and re-release it as a piece of merchandise. I had a friend of mine, Quique, who is an amazing men’s wear designer of these crazy patterns, so I asked him to redesign the hoodie. He made this camouflage pattern with the baby in it as the idea for the sweatshirt. We started talking about how babies are really a universal symbol of affection and care, that they are the smartest creatures that can learn anything, and that startups are like baby companies. Babies crawl over like our brand is going to crawl over the internet. There are all these amazing connections and we thought it would be cool and really unexpected for us to use it as part of our branding. I don't think it’s what people expected from us and it doesn’t look like anything anyone else is doing on the internet.
   
  ###### And the #babycore on Twitter?
  
  I saw that on the internet and I thought it was funny. I am more interested in the suffixes of words. I didn’t really know what #babycore was. Unlike #normcore, it is more like a concept that came from a lot of places, mostly #babycore is a project of Matt Starr, but I consider these words something like public property. The word “core” denotes subcultural genres. The word “normcore” denotes subcultural genres but was applied to "norm," which is the most non-subcultural thing. There is for example the word “mumblecore,” which is applied to film, just like #normcore was applied to fashion and culture. Part of my affection to the suffix is that it is part of the language of the internet and can be remixed in this way.
   
  ###### What would your advice be for young creators, based on your experience with K-Hole and Genius?
  
  Find your collaborators and don’t be too strict about trying to do everything independently or by your own rules. It`s good to work with other people in a team. For some artists who have a strong independent vision it is the right thing for them to do their own things, but my experience has been hyper-collaborative — working with a lot of other people, companies, and projects, and that has been the best thing for me. When I look at the team at K-Hole, my closest friends who are really smart thinkers and artists — they are all independently motivated researchers. They learn everything about things they are interested in, and actively use the internet in that way. They empower themselves to get at the bottom of things, do the best research, and share knowledge. Figuring out your personal research practice is fundamental because it touches on everything you do. Find a method. And travel.

   
    <p class="byline">Edited by Troy O`Neil</p>

