- content_for :title, "From São Paulo to New York"

:markdown 
  <div class="running-head"><strong>Guga Chacra</strong>, <em>Globo News</em>, Correspondent and News Commentator.</div> 
  <h2 class="title">From São Paulo to New York</h2>

  <p class="byline">By Juliana Bechara, edited by Troy O’Neill.</p>
  
  <p class="dek">Juliana Bechara met Brazilian foreign correspondent, Guga Chacra, in New York and quickly realized, that he had too much to say, for he to be a journalist, she just had to listen.</p>
   
  <p class="lede">At some point on a cold March evening, CPCJ decided that our publication would interview people making a difference in our contemporary media landscape. I quickly realized who I wanted to meet with. I wanted someone I could connect with, over more than the media industry.  Someone who I could talk about sports and culture, origins and family.  It didn't take me long to reach out to Guga Chacra, the Brazilian journalist based (for more than 10 years) in New York City, whose Twitter had already been chosen as one of the most influential in Latin America by Foreign Policy Magazine in 2011.</p>

  I emailed him on a Sunday evening, feeling a little nervous. If he accepted, I would be talking to one of the biggest names shaping Brazil’s news industry. Chacra holds a masters degree from Columbia University in International Affairs, has Lebanese roots, and is considered an expert on conflicts in the Middle East. We met in the Upper West Side, after Chacra’s swimming training. He talked fast, he knew names, and he talked politics like he was relaying a sports match. He manages three different worlds at one time — which is common amongst foreign correspondents. After talking with him more, I discovered that we actually went to the same school back in São Paulo. After figuring this out, we quickly hit it off and talked in-depth about his work in New York after he went to school. 

  After Chacra graduated from Columbia University, he decided to travel for nine months throughout Middle Eastern countries back in 2007/2008. His intention was to continue the work he had already been doing  —  commenting foreign politics and Middle East  —  although this time, locally, on field. He wanted to be closer to these people, to their day-to-day activities, and he wanted to understand how they live and how they react to the breaking news he was used to broadcasting. This, to him, was the best way to understand and even predict reactions to distinct situations in foreign nations.

  This was the beginning of his long affair with Estadão — the number one Brazilian newspaper founded in 1875. When travelling in the Middle East, Guga worked for Estadão as an International Correspondent, whose work was published in print. When he returned to the US after those nine months, he had one request: stop being published in print and start publishing on online platforms. "No one reads print anymore, my friends wouldn't read it, and online I have much more freedom to speak," he said. He continued explaining that on his blog he can make use of different styles and play more with words and formats as well. This is how his award-winning blog on Estadão's web portal From Beirut to New York was created.
  
  When settling back in New York, Chacra, who always dreamed of becoming a foreign correspondent, received a call from Globo News, the biggest Brazilian news broadcaster — with offices in different parts of the world and one studio in New York City — who asked him to become their correspondent. It happened. They liked his way of talking. He had charisma, he knew what he was doing. So, the Brazilian-Lebanese-Columbia-graduate never returned home. 

  Chacra loves the city. “I like it because I live the whole city. Its restaurants are my kitchen. The Central Park is my yard. The subway is my car. And friends’ houses are my house’s extension,”  he once said when interviewed by a fellow Brazilian journalist.
  
  When asked if he has ever considered working for local publications, he was direct. “I’m a journalist and I write. Unless you are a native speaker or have been to English speaking schools, it is very hard to add “the special flavor” to your written work. It is different from writing papers for school.”

  At this point I started what I’m calling the Q&A, but he had so much to say that I quickly realized I had to put down my interview questions and just listen.  
  J. You moved to NYC 10 years ago to attend Columbia. How do you describe your trajectory and what brought you this far in NYC?

  G. My father went to medical school in the US, and living here was a dream for me. After living in Buenos Aires as a foreign correspondent for Folha de São Paulo, one of the leading local newspapers, I decided to apply for a masters program. Between Washington, Beirut, and NY, I decided to come to NY.
  
  J. Do you have a daily routine for consuming media?
  G. Yes. I wake up and I read the NY Times briefing. Then I take my dog for a walk, get breakfast, and I read the NY Times — the whole thing. 

  On his smartphone Chacra showed me all the apps he uses. I go over: Aljazeera, Associated Press, BBC, Business Insider, Huffington Post, the most read from NY Times, Reuters and Washington Post. He also gets some briefings from Brazilian newspapers.

  G. On the internet I look into Vox for its dynamism, The Atlantic, daily essays from The New Yorker, and then I check the happenings in Brazil. Aljazeera America is always on in my TV; I really enjoy the way they cover different regions of the world. It’s also a good thermometer for me to talk about Yemen, Syria, and Iraq — they have great correspondents and a very accurate journalistic coverage. 

  J. You cover issues of great relevance worldwide. Some readers and spectators are extremists and seem to always be ready to critique what you say. Others simply listen  —  after all, you facilitate their understanding of complex political situations. Who are the people consuming and following your work?
  G. I have two profiles of people watching and reading me: those with a deep interest in international politics and those who see me on television — they are completely different. The first group will read me and eventually see me on television. The second will know me from television, but won't read me.

  I use Facebook as a tool as well. I don’t have a page (by the time you read this interview, though, he will already have migrated to a professional page). I accepted everyone who wanted to be friends with me until I reached the maximum of 5,000 friends. It’s a tremendously valid platform to engage with the broader public. I learned how to make my comments become trend topics and I also got invited for a new project that Facebook and Estadão are developing together, but I can’t speak of it yet.

  Although Chacra wouldn’t go into detail, my guess is that Facebook is in talks with Estadão to publish their news in-site on the Facebook platform. This is part of a new effort by Facebook to get all web traffic and data from publications directly on Facebook. Facebook’s rumored push for control over digital content production also follows similar features like Snapchat’s Discover platform, which also hosts news publications inside its app. I'll keep an eye on it, because it means a huge shift for any publication that share content on Facebook. To learn more, read this article released by New York Times last March 23rd. 

  J. The interaction between the writer and reader that is made possible through social media: how do you oversee and approach it? 
  G. What bothers me most is people “putting words in my mouth.” For instance: if there’s a terrorist act such as the one in Paris, against Charlie Hebdo, I will strongly condemn such terrorist act, I think that is monstrous. Nevertheless, I would never generalize or condemn Muslims. I’m Brazilian, but I don’t respond for all Brazilians. This is what diversity is. 

  There are extremists everywhere: fellow writers and columnists, readers and spectators. Once you are a public figure and you express your opinion, you will certainly find people arguing against something. I have always been guided through, by Globo News and Estadão, not to confront these people because all they want is to get attention.

  J. What about sensationalist journalism during breaking news? I often get annoyed with such long coverage on issues like the Germanwings crash, where you see a network covering, non-stop, a tragedy, even when there’s nothing new to be said.
  G. There’s something called fringe, which Fox News does a lot. It’s a mix of science fiction and storytelling that investigates a series of unexplained facts. There, they really need to be cautious. Journalists have to be objective so not to generate the wrong buzz around happenings.

  On the other hand we have the Breaking News — CNN is an expert — that is perhaps when you noticed the Germanwings coverage. They have to be there talking over the crash. It generates audience. They invite specialists from different areas to talk about the matter and the host has to be there, even though there’s nothing to be done. Anderson Cooper and Wolf Blitzer are serious and respected journalists. Still, they have to cover breaking news. When the Boston Marathon bombing happened in 2013, I had to stay on air for seven hours. It was a breaking news, and Globo News needed to keep track minute by minute.

  J. In your perception, what does a publication have to be able to do in order to captivate people’s attention? How do you apply it in your own work?
  G. You have to be didactic and dynamic. Vox is a good example of this. It’s important to state how different written publications are from television. The first one you have to contextualize the reader: you have to write as if it was the first time the person was reading about the subject matter. For the latter, you have more time to explain and go through some topics. In my blog I often use a Q&A style that works as a storytelling device when approaching subjects for stories on Yemen, Syria, or ISIS.

  J. How do you describe the American media landscape?
  
  G. First of all, printed journalism is at its end. Some will succeed migrating to the web — publications like NY Times and the Wall Street Journal, because they are national mediums that people will continue to read in whatever platform they find.

  Platforms migrating to online versions will have to come up with a good plan for advertising, as a print page generates much more revenue than a banner. This is one of the reasons that they are using different medias such as videos, which are  produced to bridge proximity between reader and communicator.

  What else? I believe that social media will face big shifts. Facebook has already overtaken Twitter and it will become even stronger. In this sense, social media is changing parameters of media consumption; it is changing the way that people see news. The consumers only want to read what interest them — and I feel sorry for these people — it is a shame that with so much interesting stuff to be read, people are sharing, more and more, the same old and sometimes false information. 

  Worldwide, people are looking at niche news. This is something I learned: it is all a behavioral attitude towards the way we look at and search for information. In 1984, everybody knew who the big figures were: Michael Jackson, Ayrton Senna, Mike Tyson. Today, for instance, my father doesn’t know who Jay-Z is. Many people don’t know who Floyd Mayweather is. 

  Chacra went further on explaining to me his ideas and understanding of hybrid people, of time and technology, of how we are seen as an extremely technological society. He tells me how what we are in 2015 is not even close to what we once were back in time. However, at the same time, whatever we do now in such high-tech era will eventually build our future selves. Social media works as a form of trademark. Once you feed it you will always be that person that posted such-and-such a thing.

  After an amazing conversation in the restaurant The Red Farm, we walked up the rainy streets of the Upper West Side while Chacra started describing his curiosities and possible artificial intelligence scenarios that we may encounter in a near future. Then he realized he had forgotten his backpack and coat at the restaurant. With a finished interview but an unfinished conversation, I was just as lost in thought. I continued my way back home. I devoted the rest of the day to reflect and digest all this whirlwind of energy he left me with me, while thinking about the implications of my meeting with Chacra. We are at a unique time where the internet and social media gives people like Chacra the ability to connect with huge audiences and shed light on important issues. 











