- content_for :title, "The Future of the Media Beat"

:markdown  
  <div class="running-head"><strong>John Herrman</strong>, <em>The Awl</em>, Editor.</div>  

  <h2 class="title">The Future of the Media Beat</h2>

  <p class="byline">by Gabriel Clermont</p>
   
  <p class="lede">Predicting the future of technology and the media industry always has been notoriously difficult. But, just maybe the pieces are beginning to fall into place. <a href="http://recode.net/2015/03/12/snapchats-ad-rates-for-its-discover-feature-are-really-high/">Snapchat’s Discover</a>. <a href="http://www.nytimes.com/2015/03/24/business/media/facebook-may-host-news-sites-content.html">Facebook hosting media content</a>. <a href="http://www.theawl.com/2015/02/all-my-blogs-are-dead">The slow death of websites</a>. The future is already here; John Herman saw it before all of us.</p>

  John Herrman has been covering the technology and media beat as a reporter at various web and print publications, and as the co-founder of Buzzfeed’s tech vertical, FWD. 

  He defined the [hot take](http://www.urbandictionary.com/define.php?term=hot+take). He foresaw that the battle between social networks would make them [Web 1.0 portals](http://nymag.com/daily/intelligencer/2015/03/facebook-is-the-new-aol.html). He also essentially predicted (#GamerGate will return under different names in multiple venues) the [biggest controversy in science-fiction](http://www.vox.com/2015/4/26/8495415/hugos-sad-puppies-controversy) since… Jar-Jar Binks? 

  Now, Herrman works as an editor at The Awl, along with Matt Buchanan, the other co-founder of FWD. Founded by the current NY Times writer and former Gawker editor-in-chief Choire Sicha, the Brooklyn-based blog’s coverage eclectically ranges from media, culture, technology, and [bears](http://www.theawl.com/2014/01/bears-are-all-its-too-hot-to-sleep). Its near-trademarked tone alternates between lighthearted and serious. Since coming on board in 2014, Herrman has maintained a regular column, The Content Wars, which takes notes on the awkward, slow-motion entanglement of media and tech companies.

  We met at The Awl’s office in downtown Brooklyn and spoke about Facebook’s recent partnering with publishers, websites as legacy projects, the future of media, and the potential pitfalls of media and technology’s convergence. And what it all means...

  ###### Tell me about the content wars, how did it get started?

  The content wars was just an offhand comment. We did [this interview](http://www.capitalnewyork.com/article/media/2014/07/8549591/60-second-interview-matt-buchanan-and-john-herrman-awl-co-editors) when Matt and I started at The Awl. One of these quick interviews about what we were going to do, and we didn't really have anything to say. So we wrote back a bunch of jokes, and one of them was some dumb joke whose kicker was “The content wars have been hard on everyone.” Then I started tagging posts with that as a joke, and ended up just tagging a bunch of stuff I'd already written with it, and calling it a column. 

  If I go back and look at them and try to figure out what I was actually getting at, it would be clear that they are all just really similar stories about platforms; a lot of them read as if i’m this cranky old guy yelling at the new kids. I think it’s good to have a healthy skepticism about non-journalistic platforms kind of stumbling into huge positions of power. I don't know anything about their intentions. I tend to assume that they are as good as they can be, but they're also sort of... 

  ###### I mean their intention is to make money right? At the end of the day.

  It should be very interesting to people that right now we now have these enormous middlemen companies whose interests are definitely currently aligned with some large media companies.There's a powerful mutually beneficial relationship there. 

  The problem is that will not always be true, and the ones who will change are Facebook, not their partners. The stakes are much lower for Facebook. 

  So it's this super classic tech story where a company comes in, creates this product or platform that everyone uses, and then from that position of power semi-intentionally absorbs the things around it, but inadvertently changes everything around it. Then it's replaced because something new comes along because it's technology, especially when it's software. This kind of thing happens so quickly.

  We were talking about Snapchat as a joke two years ago. Now it's having meetings with ESPN boardrooms and maybe they're going to be it for 10 years. But according to the world that Snapchat came up in, it doesn't seem to be slowing down, that's not what happens. 

  ###### Yeah, the web is littered with dead sites, like Livejournal and Myspace.

  That isn’t a reason not to do these things. It is just the kind of the thing that you would hope people know about and maybe acknowledge as they're doing it. But maybe there's no benefit in acknowledging it. Maybe you just do these things and hope that they work out.

  ###### You just jump from wave to wave...

  Yeah, and maybe you build your whole operation around an ability to do that. The best model for this kind of thing is a really nimble and fast-moving advertising agency. That's the model I think that some newer media companies are going to have to adopt. And that is complicated. 

  So you're an ad-agency in the sense that your goal is to gather attention from as many different channels and places as possible. Your reason to exist and your priorities are relatively clear: you're serving your clients interest. You want your company to grow, and maybe you want to take over some particular type of the market.  

  ###### I guess that’s when you get like Pierre Omidyar (the billionaire founder of eBay, who founded the media venture, First Look Media). A billionaire who just says 'go'.

  That was such a funny fantasy for people, because it actually seems like a great model going forward, if someone gives you money and you can do what you were doing before. It was the [biggest fucking disaster for the weirdest reasons](https://firstlook.org/theintercept/2014/10/30/inside-story-matt-taibbis-departure-first-look-media/), but honestly they were reasons that people should have foreseen. I guess? 

  You could probably make a lot of similar arguments about old business models that kept publications going. Maybe an organization gets to be big enough that they just elect to do things that they see as necessary or important or interesting but not necessarily successful.

  <p class="pullquote">I guess the transition to the web for a lot of media companies never really happened. Or if it did, it just wasn't successful.</p>

  And at the same time, I guess the transition to the web for a lot of media companies never really happened. Or if it did, it just wasn't successful. What magazine's really pulled it off without either becoming something completely different or without dependence on a still successful print product?

  ###### VICE?

  That's an interesting question. I mean Vice has never gotten good traffic. People read and watch Vice, but they were always so much more of a powerful brand. Their deal with HBO now is an enormous business triumph, and if it works out it will result in people thinking of Vice in a totally different way. But it's the result of years of savvy business and marketing decisions. You get the sense now that their eyes were always on a much a bigger prize than just becoming the next great publication. 

  They’ve been like: We are going to be this huge advertising agency. We are going to be this huge journalistic operation. We are going to be a TV channel. And we're going to be this globally recognizable youth brand. And they seem to be pulling it off. 

  People that aimed a little lower created a huge site or a huge network of sites, and now they are faced with finding the next thing before they ever got to the point of feeling like they had time to breathe. I'm sure it's terrifying for a lot of people. But it's also fun. 

  <p class="pullquote">I think that’s where a lot of people's anxieties about social stuff comes from. They're like "We're not done with the web yet; we didn't even figure this out yet." There's this assumption that it's going to be the next thing and then it's going to be permanent.</p>

  I think that’s where a lot of people's anxieties about social stuff comes from. They're like "We're not done with the web yet; we didn't even figure this out yet." There's this assumption that it's going to be the next thing and then it's going to be permanent. So you put yourself in a position where you're dependent on these platforms that had just arrived very quickly. There is an implicit assumption that they are going to stick around for a long time, and that what they did to other people won't happen to you. Which doesn't seem right. 

  I was joking with [Jonah Peretti](http://en.wikipedia.org/wiki/Jonah_Peretti) today about this. He did an [interview about the LA Times](http://www.theatlantic.com/technology/archive/2015/03/print-newspapers-are-for-rich-people/388757/), saying, "It's a challenge to have a legacy product, I think they should charge more and more for their print product. And treat it as sort of like a product for their biggest fans.” 

  Then he said something to the effect of “It's our big luxury not to have a legacy product.” I was kidding with him, saying “Isn't your website the legacy product at this point?” If things really do move in this direction, and all successful media companies become multi-channel networks, then the website's just sort of there... and it takes a lot of employees to keep websites going. 

  And that's when you have to start making decisions about what you keep and what you scrap. People tend to keep things, but really ruthless, successful and ambitious companies have to make hard decisions. A few years down the line everyone will be like “This website thing... Why are we even bothering, what was the point of this?” 

  ###### Well now, what website feels fresh and new?

  Yeah, none.

  It's not like newspapers at the height of their profitability felt fresh. It's not like the Times had a huge teen readership in the 90s. It's like they are teenagers, of course they didn't give a shit about you, but now there is this whole idea that teenagers are really engaged in the world and they want to know about everything. If only you can get where they already are, they will talk to you. But you can't trick them. I mean, they're teenagers. You can sort of trick them, but not with that. Or if you're going to do that, you are doing something totally different. 

  ###### You see that with companies trying to get into the Youtube game.

  Youtube's got a funny platform thing too, because for years it was just people uploading their own stuff that no one watched. And then stuff would unexpectedly get big. Then people developed their own individual followings, but it was all really low budget and it was never stuff that YouTube could anticipate becoming huge. 

  And then they spent all of this money three years ago on partners, and some of those deals worked out, but the ones that worked out were all native YouTubers who understood that world. [All the big media partners that went in really fizzled out in the end](http://adage.com/article/digital/advertisers-brand-camp-youtube-stars/292766/). They would take a billion dollars or whatever and make shittier versions of TV shows and put them on YouTube, and YouTube people were like "What is this, why is this here? What does this have to do with this whole world I've been living in for five years?" 

  Someone made a comment yesterday about [this whole Facebook video thing](http://marketingland.com/youtube-vs-facebook-video-two-titans-face-off-123419), he was trying to straight talk and be like, ‘Well, you know, Youtube was never about video discovery and that's an opportunity for Facebook video,” but that doesn't seem to be true at all. 

  The best thing about YouTube is that there are thousands and thousands of things going viral all the time. How do you turn that into the big movie and TV business that you want?

  ###### How do you predict what is going to spike and become viral? 

  Right, and the answer is to interfere with it and kind of fuck it up. Which is I'm sure a struggle for YouTube partners, but they figured it out. They just end up being really different from what anyone expected. I'm sure YouTube wasn't having big discussions early on about how one day if they were lucky they could have millions of people watching people play video games. It turns out that our big thing is going to be weird video game themed cooking tutorials that are four minutes long and have sound effects. It's just that you don't know know these things happen. 

  The coolest thing is when you find someone on Youtube who is 18 and feels totally comfortable using their phone as a camera, who has a really natural relationship with that camera. That comes through in the videos and you're just like “these people are from a different time, they are really not that far away in age." I grew up with Internet forums and whatever, and they grew up with this. This is their thing, and they're going to get better at this. 

  ###### So about Facebook Publishing, I guess no one knows, but what will that look like? Will you go to a New York Times page, will you go to facebook.com/newyorktimes?

  I'm sure it'll be really good. Facebook has the best tech talent in the world.
  The little stuff is kind of fun to think about too… What will the typography and articles look like? I think it has to exist somewhat in the newsfeed. If you have multiple types of media, and they are really being published and not just posted to the brand page, that will make those pages look a lot more like websites. 

  But that won't really matter, that's not how people are going to consume it. People are still going to be in their feeds, or passing things around on Messenger or somewhere else. I'm sure you'll be able to see these things on the outside too. They'll just be like websites. From the rest of the internet they won’t be any faster or better than a good web page, but within Facebook they'll be better.

  ###### The [AOL comment](http://www.theverge.com/2015/1/4/7488495/facebook-is-the-new-aol) that you hear kind of jokingly used...

  The crazy thing about that is that you couldn't get into AOL from the outside.

  ###### Right, if you weren't an AOL member.

  It's not that different. The web part of Facebook is huge and it's interesting that it is still around, but eventually it doesn't need to be there if everything is in apps. If they just shut down the website and were like “you have to use your phone for everything,” there would be no reason to be able to get in from the outside. Their mobile version of everything is a really enclosed system.


  ###### In China there is an app called WeChat, which is like the Chinese version of WhatsApp. There you can follow people. So celebrities publish to WeChat. It's like you have a celebrity and you get messages from them through the day.

  Snapchat's a little like that — your relationship to people that you actually talk with and that you just follow is kind of similar. Everyone I think is moving that direction. What's weird about this is that most of our big services have roots on the web. I don't think WeChat does — I assume it was just always mobile. So they were like “We have all these people chatting to each other, let's build an internet around this." That's the model for a lot of different places. You have people using apps for very basic things and you can build giant portals on top of them. For example, Messenger will become more of a portal, [as they have recently showed](http://techcrunch.com/2015/03/25/facebook-launches-messenger-platform-with-content-tools-and-chat-with-businesses/#.a2ysel:FFtn). There will be apps in Messenger, where you can install different things. You might install something like ESPN. It's not like a full publication, but it is the latest gifs that you can share with your friends. It’s a real integration.

  ###### How do you think the content wars will affect the creation of content?

  I do think it'll have the funny effect of keeping media kind of young. It will also have an interesting effect on — this depends on whether or not money keeps flowing and the economy stays okay — the state of constant hiring and people then moving on to different things. That's great for bringing people from diverse backgrounds in. On the other hand, it doesn't really guarantee any kind of future. So it's like people are coming in, but they're not sure where they're going next. 

  ###### Do journalists just kind of move into the industry they cover?

  Yeah, that's what you would do when you had your second kid and got tired of working at the newspaper, and you're like ”You know what, I'm going to go work for that PR firm. I'm tired of covering pharmaceuticals.” But you can't make plans like that now. You kind of have to wait and see. 

  If you got the most coveted new media job right now, you were straight out of school and you just threw yourself into it, then things will probably work out, but you don't know how. It's not like you just landed some super-coveted slot at the Times 20 years ago and you're like, “You know what, if I just stick with this, in 10 years I'm going to be there.” 

  ###### Right, if you're an intern at Buzzfeed right now.

  Yeah, like, “Congratulations, you're in a good position to do...something.” Who knows what you're going to be doing? People who are working in establishment media companies now have no idea what they're going to be doing in five years. No one does. It's really weird. People have different titles but they don't mean anything. 

  People in media companies are paid weirdly disparate amounts working for the same company but doing very different things and serving totally different audiences. It's a big huge confusing mess, which probably means that it's an enormous opportunity. 

  So, thinking ahead to what the next set of problems are going to be for people who want to share ideas for a living is an optimistic thing to do. On one hand, I would definitely say to someone going into journalism school right now to think about it really hard, but on the other hand, I have to blindly assume that things will be really interesting and that the next five years are going to be really weird, and that they will probably be the most interesting for people who are the newest. And that's cool, I guess.

  ###### Okay, before I have to go, what’s been the reaction to your content war stuff?

  I've been trying to do a bit of self-justification with this content wars stuff because the pushback that you get is kind of funny. It's inside baseball kind of fun stuff for some people, but when you're part of this larger shift, you become defensive about it. If you're defensive about something that is just really exciting and you understand that it is the future, your defensiveness is like optimism. But when your defensiveness is for a partnership with a social network, these things aren't so clear. Any partnership between two companies must be a negotiation. There are power dynamics at play — something's being gained, something's being given up. 

  <p class="pullquote">Any partnership between two companies must be a negotiation. There are power dynamics at play — something's being gained, something's being given up.</p>

  I think people lose a little bit of that reflexive skepticism when the powerful outsiders are also the companies that are changing the world. It's fun and kind of easy now to puncture that a little bit because people still ascribe magical qualities to tech companies that are truly crazy and new. 

  Anyways, I keep coming back to this: The tech and media story is the media story. It has been for a few years, and it will be for a number of years. Media reporters were very fixated for a long time on newspaper ownership, newsroom politics, celebrity journalists, and journalistic fuck-ups. I think part of that was because the modes of distribution faded into the background.

  If any of them survive, and I suspect a lot of them certainly will, they will just become part of life and people will settle around them in superficial ways, and then start to take them more seriously. I hope this kind of thing becomes a constant low-level story in media. I hope that this becomes the media beat. 


  <p class="byline">Edited by Carlo Mantuano and Andreas Eckhardt-Læssøe</p>
