- content_for :title, "Let’s Talk about Sex"

:markdown 
  <div class="running-head"><strong>Mitra Kaboli</strong>, “The Heart”, Host.</div> 
  <h2 class="title">Let’s Talk about Sex</h2>

  <p class="byline">By Andreas Eckhardt-Læssøe</p>
   
  <p class="dek">A talk with The Heart’s Mitra Kaboli on sex on and off the air, the whiteness of public radio, being a freelancer and the rising podcast optimism.</p>
   
  <p class="lede">“Let’s talk about sex, baby. Let’s talk about you and me.” So sang the three women of Salt-N-Pepa in 1990. It could also be a tagline for <em>The Heart</em>.</p>

  The Heart is a podcast that shows why radio is so important. Radio brings things up close and personal; headphones plugs you into another person’s voice, telling their story as if it is coming from inside your own head, and in turn possibly making the ear the most empathetic organ. The Heart also follows the radio revolution that is being carried forward by technological developments that make radio programs easier to produce and distribute. Not that it could, should, or ever would replace the news, but shows like The Heart provide an alternate narrative to corporate media’s twenty-four hour news cycle. It’s also fun. And sexy.

  But let’s back up a little bit. The Heart is part of the independent radio network [Radiotopia](https://www.kickstarter.com/projects/1748303376/radiotopia-a-storytelling-revolution) that started in 2014 when Roman Mars, already a kickstarter guru for his own show 99% Invisible, set out to raise money for Radiotopia. On November 14, 2014, they reached $620,412 with a total of 21,808 backers, proving that what Mars and his fellow showrunners were doing something right. 

  The Heart isn’t even a totally new show; it used to be a monthly college radio show called *Audio Smut*. The Heart’s first episode actually unfurled on the air in Montreal back in 2008. Since then a lot has happened. The radio show has not only grown up, so have the people making it — or if they haven’t, at least they have grown to be more honest about their insecurities and feelings of inadequacy. The Heart is all about that honesty. Queerness, kinks, and emotions — they tell their listeners about all of it on their show, and they’re audibly excited about it. It’s the same excitement they inspire in their interview subjects: whether their story is about taking a shit on another man’s chest, having an orgasm while giving birth, or just meeting someone on the subway and falling in love for the afternoon. In short, The Heart shares stories that haven’t had a place to be told before. Case and point, the name change: even though smut is not a dirty word, it still can’t be uttered on PRX (Public Radio International), so they changed it...
   
  <p class="pullquote">“Someone from a radio station in Seattle said that if we made some news hole drop-ins, which are four or five minute segments that they could drop in where the news would go, instead of the news they would play that. We were like, “hell yeah,” so we made a bunch of them. They played one or two of them, and then they said: “actually you can't say Audio Smut on the air.” Essentially they gave us an ultimatum. We thought, if it means that we can get paid a little bit to do what we want to do and have a wider reach, what's the problem?”</p>
   
  *In other words; sex is still not kosher on national public radio. But I’m getting ahead of myself. Let me do it like they do on the radio and let Mitra introduce herself:*
   
  Mitra Kaboli: My name is Mitra Kaboli. I am a senior producer, *the* senior producer, for The Heart, which is a podcast about love and intimacy and bodies and desire and things like that. I live in New York. I'm Canadian but I've lived most of my life in the US. I'm an aquarius. [Laughs] Sorry.

  ######  Andreas Eckhardt-Læssøe: Do you believe in astrology?

  A little bit. It's pretty fun to believe in it. I'm gonna be honest, but I'm not die hard.
   
  ###### You dabble?
   
  I dabble.
   
  *Mitra has long brown hair with a blond colored bit around her right ear; she’s wearing a zebra print shirt. We’re sitting at a table in a café in Brooklyn not far from where Mitra works. Before I started recording the interview she told me that she drives by this place all the time, but she thought it was a kitchenware shop. I can’t figure out why she would think that, so I just laugh nervously. My recorder fumbles out of my bag along with its blue wind-hat, that looks like a smurf’s wig and is an easy ice-breaker in every interview I’ve ever been in. It goes over well — when Mitra says she likes it, I’m close to giving it to her as a gift right then and there.* 
   
  ###### Could you tell me how you got into The Heart?
   
  When Kaitlin (ed. Kaitlin Prest, host and creative director of The Heart) and I met, we were both in Montreal going to school there, we were both working at this restaurant called Roomy. I worked in the kitchen and Kaitlin was a waitress, that's how we met. I always knew that she worked for this show called Audio Smut, even though I didn't know much about it. One day, I think, I sort of outed myself as being a fellow weirdo... even though at the restaurant it was a secret. I was a secret weirdo.
   
  ###### How are you a secret weirdo?
   
  I was volunteering for a publication that was a smut zine. It was art porn, artsy porn, the fact that I was queer and my own personal beliefs... I had to keep all of that a secret. The restaurant was pretty traditional ideologically. It was run by Sufis, the guy that was my boss was pretty devout. I couldn't really be myself. I never talked, I was always very quiet. Then Kaitlin and I ran into each other on the street one day and had a candid conversation. She invited me down to the station one day. I sat in on the show and I was like “Yeah this is awesome, I wanna do this!”
   
  ###### So the show already existed? Audio Smut already existed?
   
  It already existed, it was on college radio at six pm once a month. So when we moved to New York, we kept calling ourselves Audio Smut, but just the podcast, and we slowly cut off our ties with the radio station back in Montreal. Eventually, two maybe three years later, we changed the name, set ourselves apart, rebranded, and cut that tie for good.

  ###### How many people are you working at The Heart now?
   
  Me, Kaitlin, Samara, who's our associate producer and makes the shorts, the inbetweens, this woman Jen who does our web design, and this woman Megan does our social media posts along with Samara — so five. Then a bunch of other people, producers, and freelancers. 
   
  *The sun is shining through the big picture window making it feel more and more like a greenhouse. Meanwhile what looks like a band is waiting, noisily, for their lunch next to us. My water glass is empty, leaving me to drink the half cold cup of coffee, so that my left hand has something to do as my right hand is getting more and more clammy, and my arm more and more cramped from holding the recorder up to Mitra’s mouth. Mitra, however, looks completely unfazed by the warmth. The kitchen smells and the four guys are wearing black leather jackets. She doesn’t even break eye contact when the drummer bumps against her.*

  *When I meet someone who’s work I admire, I always figure that they have their life together. Even if the work is about the exact opposite, I always think that they’re exaggerating and are in fact living swanky lives without anxieties and feelings of inadequacy. I thought that when I met Mitra. The Heart exudes confidence, even when it covers insecurity or fragility, the honesty with which it’s told, to me is a form of confidence. So when Mitra started letting out some of the frustrations and worries about the life of a freelance radio producer, I was both relieved to hear I’m not the only one and also I was scared, because if she can’t make it, how will I ever?*
   
  Producing The Heart is a constant struggle with myself. I constantly ask myself, “Can I really do this? Am I going to able to provide for myself and maybe someone else? Can I buy a house one day?” You know? Every time I go visit my parents they're like, “when are you gonna get your shit together,” they haven't taken care of me or provided for me for many years, but still they're like, “you need to buy a house.” I just visited my parents and the last day I was there my dad convinced me to get a mutual fund. I don't even know what that means. Sure dad, I'll do that. But I don't have any security or any stability. I've learned to trust the freelance game that something will always come, but god it is stressful. Only until very recently have I been successful at freelancing. For a while I was struggling. Which is why I will not quit that fish job until I know for sure that I definitely do not need to work there. Then will I quit.
   
  ###### You always hear the stories about the ones who made it, never the one about those who quit, because they quit, you know?
   
  Do you listen to Death, Sex and Money? (The WNYC show). There's this one episode with this woman Heidi on it. I only know because I mixed the episode. But the story is this woman, she's in her fifties, she's this filmmaker and producer, and she has this great deal on an apartment in Park Slope but finally gets priced out and is forced to move. She's in her fifties, she's single, she doesn't have any money, she never saved, she never accumulated any capital. So this episode just follows her as she has nowhere else to go and nothing to do, and no option but to move back home. I don't want that to be me. I would much rather cut my losses at 30, 32, even 35 and just start over with something else, then I'd be fifty and broke.

  But also I wonder. If I was to get a full time job, would I want a radio job? I don't know. I've never had a full time job.
   
  ###### Are there freelance producer jobs out there?
   
  Yes. Definitely. I'm just really bad at getting jobs. I don't know how to look for them, so I've stopped looking. People ask me to do stuff for them and it works a lot better that way. Every time I try and put myself out there it's the worst. People are like what's wrong with her? Being a producer for The Heart has no caché. Occasionally people say that I'm way over qualified for this, and all I can say is, that's what you think.

  I spend a lot of time working for WNYC and I feel like they really killed my buzz. It's like, way to make someone feel like a piece of shit. I don't know. I was just feeling so disposable and dispensable every time I was there. The thing about being a freelancer is you can't have a bad day. Not everything I make is my best work. And it just so happened that the one time there was something riding on it at WNYC that could've turned permanent, I didn't do a good job on it.
   
  ###### But that's kind of the dark side of the DIY thing that's driving radio now. A lot of people will have their own podcast. How do you tell the difference between someone having their own podcast in their bedroom, and someone doing a show like The Heart in their own bedroom? It takes a really good ear from people listening, and maybe it's not something that everyone has.
   
  Yeah some people might not know the difference. They'll just be like, “What's all this stuff happening here? I don't wanna listen to that. I just wanna listen to people talk.” A lot of people like that. Not me though. If I’m going to make radio it can’t sound like that.
   
  *And The Heart doesn’t sound like that. The Heart is one of those shows that when you listen to it, you get out of breath; when you are walking around the kitchen, doing dishes or cooking, you suddenly laugh out loud, that is if you don’t stop everything and sit down on a couch listening with a gaping mouth. They push the envelope every time they do a new show, if not in content, then in production value. They’re always coming up with a new way of making a voice come from a completely new place.* 

  *Part of their excellence comes from building relationships with their interview subjects. As I’m sitting here beside Mitra Kaboli it’s not hard imagining how she gets people to open up on precarious subjects. She’s just one of those people that you want to confide in.*
   
  ###### Do you think that The Heart is doing journalism?
   
  That's such a hard question. Depending on who asks me, I might tell them that I'm a journalist, even though that's not really true. Some of what we do is definitely journalism, some of it isn't. Everything we do is true to somebody, even if it's not necessarily THE truth. There's a lot of journalism, with a capital J, practices that we don't use because that's not what we do. 

  I think it allows us to be sensitive and intimate and to actually build a relationship with our subjects. There's a lot of ethical issues involved, so whatever I can do to make sure that the process of this documentary is as collaborative as possible with my subject, I wanna do that. I think rules of journalism are kind of outdated, I don't think it needs to be like that, I don't think those things are fair. To even be after some sort of objective anything, yeah right, let's admit that that's not a real thing unless we're talking about the news. You can not erase your perspective ever, so why even pretend like you are. I have a relationship with many of my subjects, and I wanna keep a relationship and I want it to be good and I want them to be happy about what I make. I don't want them to feel embarrassed. I want them to feel good even if it's not a nice happy story. I want them to feel like I did them some justice.
   
  ###### How do you go about interviewing people when the subject matter is tricky?
   
  Number one is you have to find someone who's excited about doing it. If someone is on the fence about speaking candidly on intimate subjects, they are probably not gonna be a good fit. They are probably gonna be really unhappy with the result and then there is gonna be this awkward thing where they will be like, “I don't really wanna put this thing out in the world,” and I'll have worked on it for months. You can't do that to me. That's not fair to anyone.
   
  ###### How do you find you stories? How do you approach people?
   
  On the street. Just kidding. It's mostly word of mouth. You know you're at a bar with a friend and they're telling you this story about their cousin, and you're like, “wait, what?” So that's one way. But that usually lends itself to not having a very diverse range of contact. So that's a bit of a trap that we're conscious of and definitely work to get out of. We're working on partnering ourselves with, or just be in align with, other organizations that do similar kind of work or have the same goal or mandate. Sometimes you have to just put yourself out there and reach to the nether parts of your network and poke around.
   
  ###### Part of what I really like is that The Heart really embraces different experiences with gender, homosexuality and transsexuality. Was that part of the reason why you did this show to begin with?
   
  Yes. From when it started that was actually on the forefront. We both feel like it's kind of taken a back seat, like is the show too straight now? The mandate for the show has always been to represent sexual minorities whatever that means. And that's really important to us. But it's also important to bring the lense back on straightness, that can't be ignored either, that has its own pitfalls. Just to examine one side is kind of weird.

  ###### Did anyone inspire you to do that, did you have idols in that way? Or was it more of a protest reaction to the lack of representation out there?
   
  Yeah, the latter one probably. Sex shows exist. Howard Stern exists. Dan Savage exists. Sex columns exist. These are all real things. But are there shows that are truly honest about these matters? Let's not include Dan Savage in this comparison, he's doing a pretty good job. But you know where is sex for all the other people, the queer people and the weirdos and the kinksters, where is their sex?
   
  ###### Old people.
   
  Yeah where is *that?* Or taboo relationships. A lot of the things we talk about is taboo, I think it's pretty important to represent them or write them down. You know, why not?
   
  ###### Maybe we can go back to talking a little bit around radio, and how you view the current state of radio? Are you optimistic about radio?
   
  I am optimistic, but I think radio in general is very boring. Not because I think that the content itself is boring, because that's not true. It's just so bland and white sometimes! Even if the subject matter is not white and the person talking is not white, radio at large still manages to make it sound white. For example, I was so excited about this Malcolm X special that was an hour long and when I started listening to it, I had to turn it off. How did they turn such a charismatic interesting man into the most boring subject ever. How did they do that? And all the people they were talking to...I'm sure some of them were black, but they didn't really sound like it.

  I was listening to something on the radio the other day about how last year's projections for how much money podcasts would make was like nothing, but unexpectedly there was a tipping point with Serial, and all of a sudden people are like, “No, there's serious money in this.” As technology advances it's very easy to download podcasts to your phone. You can now listen to it in your car, and now you can probably download them straight to you car, so why would you then listen to the radio, when you can just listen to whatever you want to listen to?
   
  ###### 25 percent of all cars are made with wifi built into them.
   
  Exactly. And I think that by 2020 it's gonna be 100 percent and so that makes me feel optimistic, and it also makes me feel optimistic that in podcasting in general there isn't a status quo in the way that public radio has a status quo and they don't take risks. Everything has to sound the same and you can't say the word smut, even though it's not a bad word, on the radio.
   
  ###### Do you think of podcasts as a subversive thing to the blandness of radio?
   
  It's very upsetting the way people get payed. Producers at WNYC do not make a lot of money, but the people who are bosses make huge salaries. I know that one of the host’s Christmas bonus was larger than some of the producer's salaries. 

  I think they're just gonna shoot themselves in the foot. The demographic that's listening to the radio is dwindling and I don't think foundation support alone is gonna keep those stations running. I think their model is unsustainable. Especially since Radiotopia is moderately sustainable and Gimlet also seems to be doing pretty well. Networks are popping up and I think it would behoove the stations to maybe try and retain their content a bit more, otherwise people are just gonna leave.
   
  ###### So maybe let’s talk about why you guys think it's interesting to talk about sex and love?
   
  My God! It's the most interesting thing. My favorite thing is, it's saturday morning, we're having breakfast together, and someone is telling a juicy story. Or it can be like a lovesick story where X is being shitty towards Y or it can be like, “Oh, I got laid last night, let me tell you what happened.” Nothing will hold my attention better than that. For example, the other day I hooked up with someone and all day long I was like: “You guys, last night I stuck my finger in somebody's buuuut.” Everyone was like, “urgh, Mitra!” And I was like, “I have been waiting for this day.” Somebody asked me to do that! I just wanted to shout it off the rooftop.
   
  Mitra doesn’t look self conscious or embarrassed at having said this out loud in a somewhat crowded café or about it being on tape and on the record. I, however, have flushed cheeks and try and steer the conversation in a new direction.
   
  ###### Tell me who you like? Who's producing good stuff out there right now?
   
  99% Invisible is one of my favorite shows and I don't have to say that, I just feel it a lot. The Kitchen Sisters are the shit! They're just so masterful in everything that they do. How did they find those stories? They've been doing it for so long and on their own, you wonder who are they? And I know everyone talks about it, but Serial. Some people were like it's annoying how she put her story in there, but that's what I liked about it; her back and forth and doubts.
   
  ###### That mirroring kept me going too even when the whole murder mystery might have escaped my interest towards the end it became a question about, how does she feel? How do I feel? And how can we even talk about these things?
   
  I'm not the best podcast listener. But for the last two episodes of This American Life, the one about the cops and the one called, “Three Miles,” I know everyone raved about the, “Cops See It Differently,” but I think “Three Miles” nailed something that I don't know if anyone else ever really talked about before, which is the emotional and mental damages of growing up poor and [talking about] class in a way that [shows] how people are manifest and living their lives and why people can't get out of the hood when they should be able to. It really hit for me, really hard. It was so well done, it was great. Even though I was kind of on the fence about it. What else? Have you listened to Björks new album?
   
  ###### I have. I am Scandinavian after all.
   
  It's so great. I was listening to that while going through a breakup. It was so great.

  What else? D'Angelo's album. The new Kendrick Lamar is also really good. Also, not a new song, but Paul Simon's "50 Ways to Leave Your Lover." I want everything I do to sound like that song.
   
  ###### Hey, if you think of more stuff email me and I'll put together a playlist to go along with this interview.
   
  Oh my god, really? I would love to do that. Can I send you a playlist? A radio playlist. That's the best idea, that's the best idea you've ever had.
   
  ###### So maybe the last thing is if you want to end this on a good anecdote, what would that be?
   
  Well, the last thing you made is always your favorite. So this is something that we cut from the final story, but eight months after the situation.
   
  *The story here is the one called "[The Hurricane](http://www.theheartradio.org/episodes/thehurricane)," which features a personal experience of Mitra's where, to keep it short, she hooked up with a guy during hurricane Sandy.*
   
  He lives maybe like eight blocks from me. It was insane that it took that long. I had been waiting for this day, running into him. When it finally happened he apologized as the first thing and gave me some context about his situation at the time. Since then I've run into him frequently, we go to the same coffee shop quite frequently, and we're both freelancers so I see him a around a lot. So we got friendlier and friendlier and finally we decided we were gonna do the story and I needed him to come over for an interview. And I think he was like, “I have been waiting for you to ask me this.” But then it happened and the first interview didn't actually take, so I had him over again and I was a bit more pointed about the things I wanted him to say and I got him to make the wind sound effects. So it was a bit contrived, but ultimately I'm really happy with the way it turned out. Somebody said it sounded like a radio cartoon, which I'm pretty sure means I can retire right now. And so anyway, now we have this pseudo sexually tense relationship. Every time he would come over for an interview it took everything inside me to not try and have sex with him. And actually the day that the episode released I met him at a bar, and I got drunk very fast, and a bit too drunk. So I made out with him and felt his dick in his pants. Then I was like, “I have to go home now,” [and] it was pouring rain. He said, “let me walk you home,” but I said no. On my way home I went to the grocery store and bought these tea cookies and then I also bought a box of brownie mix, which of course I couldn't eat, and I was certainly not gonna start baking drunk.
   
  ###### Did you ever make the brownies?
   
  No. Not since then. I feel like I should save them for some occasion. I can't just make brownies.
   
  *Sure, some people say don’t mix business and pleasure, but I say why not? At least if you can tell a story about it after that is as moving and funny as “The Hurricane.”*

  *Maybe that’s just how it is hanging out with women from The Heart. Personal and professional life becomes so intertwined they can’t again be separated, that’s part of the reason why they’re so good at what they do. As I’m writing this, I’m still nursing a little crush on Mitra Kaboli. I’m wondering when I should write her and remind her about that playlist.*

  #### RADIO PLAYLIST
  
  1. Sweet Tooth By Blue Hawaii (This song inspired one of my pieces, which I actually ended up using for the piece because it was stuck in my head)
  2. Alana By Wiretap
  3. I get so lonely By Janet Jackson (Actually the whole Velvet Rope album)
  4.  Afternoon Delight By Kaitlin Prest (Kaitlin is my one true inspiration)
  5. 50 Ways to Leave your Lover By Paul Simon (I have one goal in life: to make a story that makes me feel the way this song makes me feel)
  6. Danza Kuduro By Don Omar (Please don't ask me why because I won't have an answer other than this song makes me feel very crunk)


  <p class="byline">Edited by Troy O’Neill.</p>

