- content_for :title, "Today's Books, Tomorrow: Repeater Books"

:markdown

  <div class="running-head"><strong>Tariq Goddard</strong>, <em>Repeater Books</em>, Publisher.</div>  
  
  <h2 class="title">Today's Books, Tomorrow: Repeater Books</h2>

  <p class="byline">By Cerise Steel</p>

  <p class="dek">An Interview with Repeater Books’ Tariq Goddard About the Future of Non-Corporate Publishing.</p>
 
  <p class="lede">The world of book publishing has been changing drastically over the past 10 years. Publishing houses and agencies have had to shift their focus from only print books to a broader spectrum because of the boom of e-readers and online/self publishing. There are less publishing houses to differentiate between: just last year Random House became Penguin Random House. Medium sized publishers are being bought out. One option for writers hoping to see their name in print are well — established, conglomerate publishing houses, but in order to be considered by them, a writer needs to have a well—connected agent. A different option is an independent or small house that cuts out the agent position and works directly with the writer, but that will inevitably print less copies of the writer’s work. This is assuming the writer doesn’t decide to just self-publish online.</p>
   
  This past year there has been a lot of transformations in the publishing industry, which has allowed for the rise of a new trend. New publishing companies (both agencies and houses) have the idea that not only can a writer write, but they also can have a close relationship with the final product, being the physical book, which is precisely what Tariq Goddard wanted in his career.
   
  Tariq, 40, is a British writer and publisher. In the beginning of his career, he focused on his writing. He has written five novels, the first of which was nominated for the Whitbread Book Award for First Novel. His appetite for books began with his writing, but as he continued his career he realized that he also had an urge to produce books. In 2007 he set out with the desire to publish works that have a lot of potential but haven’t been picked up by big publishing houses — books that don’t already have an agent, books that aren’t a popular concept, books that are written by a new author. He began this journey at Zero Books, a small publishing house in the UK, whose parent company was John Hunt Publishing (JHP). However, in the past year, the need to break out on his own drove him and a group of founders from Zero Books to their new project Repeater Books.
   
  The issues that led Tariq away from Zero, wasn’t necessarily with Zero Books itself, but more with the JHP. A side-by-side relationship with the writers and their works was not a top priority for JHP. Attempts were made to buy Zero out in 2014, but John Hunt Publishing refused, making Tariq’s and his team’s departure their only option.
   
  After seven years at Zero Books, Repeater Books was born and is beginning its first full year of publishing. Tariq and his team of six began a fresh start at Repeater carrying the same fundamental ideas they had at Zero. The ultimate goal, as laid out [on their](http://repeaterbooks.com) website, is “…bringing marginal, esoteric, idiosyncratic and necessary literature and thought into a mainstream that would otherwise ignore it.” Now funded by a different parent company that is on board with Repeater’s principles — to have an in depth relationships with each author and book that is produced — they are ready for the beginning of their first official year in business.
   
  ###### Cerise Steel: I would like to hear your perspective on how Repeater started. Was it your idea? Was it a group decision? What was the driving force?

  Tariq Goddard: The accidental is often overlooked in retrospect, and it’s tempting to make everything look like it was part of a plan, but Repeater came about very quickly — and not as the result of a long-term blueprint. The gestation period between deciding to do it and the official launch announcement was no more than a month. Although the situation between Zero Books and it’s parent company, John Hunt Publishing, had been very bad for some time, neither I nor the rest of the team planned to resign until the moment we did. From there, it was a question of deciding how best to continue, develop, and expand upon what we had already achieved with Zero Books. As a proposed buy-out of Zero had been rejected, we all agreed that beginning a new publishing project was the only way ahead.
   
  ###### What is Repeater’s business model? Is it based off of any particular company or concept?

  Repeater is a combination of the aspects of old style publishing we think work: close contact with authors, collaborative editing, face to face meetings whenever possible, and the benefits bequeathed by the internet — our “office” being online, submissions being sent to us through our website, and the ability to work from home.
   
  ###### What makes Repeater unique from Zero Books and what is the same? 
  
  What Zero and Repeater have in common is that they both work with a parent company. In our case it is Watkins Media, who are wholly supportive and happy for us to operate however we wish. It would be disingenuous to pretend that there are no other similarities between our current and former project. A member of our team and our backer are both shareholders with Zero, but there are number of changes in emphasis and procedure that make Repeater qualitatively different. We are not interested in releasing vast numbers of books as an end in itself, charging authors subsidies for commercially unpromising material, issuing contracts that do not pay on the first thousand copies sold, or solely working through an electronic database or forum. 
   
  However, so far as the titles that we take on is concerned, there will still be an aesthetic and political continuity between our new releases and the books we commissioned with Zero, as we still wish to play a role in curating and creating a culture in the margins. I think this is especially timely, because as it becomes harder to identify a single area, unified movement, or cohesive system of ideas that reflects what is most interesting or vital about either the world or the small part of it publishers like us inhabit, the need to round up scattered and insightful voices in one place becomes more and more important.      
   
  ###### Does Repeater have any rival companies trying to do the same thing? What makes Repeater different than them?

  If big publishers had been as effective as they ought to be, there would have been no room for a Zero or Repeater; our success basically is a comment on their caution and timidity. But that can’t go on forever, so I hope a general cultural shift towards titles like ours will help sustain interest in what will become an overcrowded market. The other small publishers have always been very supportive of us, and I don’t think of them as rivals, as our interest in culture as a whole and new writing in particular helps us not tread on too many toes, as does our eclecticism and willingness to take on any type of writing (fiction, poetry, or most recently a collection of essays on Prince). 
   
  <p class="pullquote">If big publishers had been as effective as they ought to be, there would have been no room for a Zero or Repeater; our success basically is a comment on their caution and timidity.</p>

  ###### What is going on with Repeater now?

  At the present we’re trying to keep up a presence and a level of interest in our project, without an actual product to sell, while behind the scenes building up a new list of writers.  In the beginning, a publisher has to encourage potential writers, making them believe that everyone’s work will actually come to something, while at the same time as working out who will design the covers, how long will it take to print and release a book, and how much we will price them at, etc. 
   
  ###### Where do you see Repeater going through 2015? Where do you want the company to be by the end of the year?

  Ideally we would like to have launched our first titles a year after we announced our existence, which would mean that our first releases would be scheduled for December. Naturally, that aim is contingent on the logistics of how quickly our first wave of authors complete their manuscripts and of how fast and efficiently we can get our infrastructure to function. As we have found that few authors hand in their work early, and that the practical difficulties to do with editing, design, and printing are never smaller than you think, January/February 2016 is probably realistic.   
    
  ###### Can you explain Repeater’s process of contracts, editing, and publishing, when working with writers?

  Decisions on who to sign are usually made by us all and our backer in contentious and borderline cases, with fewer of us being involved when the decision is clear cut and obvious. Our contracts do not differ wildly from the industry standard, with modest advances being offered in some cases, where either an author’s circumstances or a previous track record require one. Our aim is to have a five month turnaround time between an edited manuscript and its release as a book. An author is assigned, or can choose between five editors, with me taking on the majority of texts at present.  
   
  ###### How many writers do you already have, and are there any you think we should be keeping an eye on that you intend to launch with? 
  We have about 30 writers now, and we hope that we’ll settle into a rhythm where we’re able to release at least one book per month. Of the writers that we intend to launch with, we have three out of four places confirmed: Dawn Foster, who will be writing contra-corporate feminism, Mark Fisher on popular modernism, and Laura Oldfield Ford's illustrative record of her journeys through China’s New Economic Zones. The fourth place is still open.  
   
  ###### Who would you say is Repeater’s target audience? 

  Many publishers tend to share the same collective unconscious: they like and fear the same things, media keeps recirculating the same names with the odd new addition, and in effect they appeal to an already existing audience that has been catered to the point of saturation. Our potential readership are people as heartily tired of this state of affairs as ourselves — readers who have been put off reading, who wish to encounter writing that exists in between and outside given genre distinctions. Zero showed everyone that audience exist. But where it doesn’t, it can be created by challenging work that is rewarded and not marginalized for its courage and individuality.
   
  ###### What are your five favorite books of all time? And what are your favorite books that you have published?

  I don’t think you can compare and rank greatness against itself, and I don’t know how to list my own preferences in this way. So as far as my favorites are concerned, it would probably be easier if I gave the names of the five writers that most heavily influenced and encouraged me to be as singular as possible, and who I could never improve upon because no one could do them better than themselves: Norman Mailer, Marcel Proust, Emily Bronte, Henry James, and Friedrich Nietzsche.  
   
  The five books I have commissioned that I have most enjoyed are Mark Fisher’s “Ghosts Of My Life,” Adam Kotsko “Why We Love Sociopaths,” Eugene Thacker’s “In The Dust Of This Planet,” Phil Knight’s “Strangled,” and Alex Niven’s “The Last Tape,” although I easily could have picked many more.
   
  ###### How do you get your news?

  I get very little news — sometimes reading The Guardian online football page and The Economist every week just to see what the free market fundamentalists are thinking. Having a very specialist focus and avoiding papers and magazines helps me find new voices online that we could publish the books of, and allows me enough time to keep up with my novel reading, which I need to do to remain in a creative literary space. Fortunately, the rest of our team is very well informed and media savvy!  
   
  ###### I am a writer and am interested in publishing. How did you decide to do both writing and publishing? What kind of difficulties did you have breaching both fields?

  I wanted to be writer and have been writing since I was 16. I had no ambition to be a publisher and believed it would be a project that I would devote just a few years to, not realizing that it would become one half of my working life. Writing is a narcissistic activity, in which a god-like sense of one's own importance is the perquisite for the indifference, failures, and sometimes qualified successes that are the standard experience of good and bad writers.
   
  Conversely, publishing has to do with taking a back seat, compromise, and patience — an entirely different set of qualities, less fun perhaps, although in the long run useful for a writer who wishes to mature, just as a writers braggadocio and recklessness has to underpin some of the decisions that one makes as a publisher. My advice would be to start as a writer first, and then get into publishing if you’re ready to extend yourself. Publishing will eat into the time and energy that could be spent writing, while the practical thinking that it encourages is not always helpful when trying to switch into the imaginary space of a novel. But, the humility acquired from seeing things both on the side of the author and editor, as well as the pleasure of being brought into contact with real people (rather than one’s own creations), compensates for the surrender of pure autonomy.
   
  ###### What advice can you give to students coming into the book publishing field, both as writers and publishers?

  For writers — begin writing at once and don’t spread yourself thinly. Take one project at a time and don’t begin unless you’re ready to go all the way with what you’ve started. And don’t start at all unless you absolutely cannot stop yourself from doing so.
   
  For publishers — is there something great that will remain unpublished and never see the light of day unless you champion its cause? If there isn’t then there is every danger that you will simply be adding to more of the same, and could be better employed in some other role.
   
  ###### What is the future of book publishing?

  I don’t think there will be a publishing apocalypse, or that the meltdown of the past few years with bookshops closing and publishers lists being cut will continue. In fact, the moment of the tablet and blog is already passing and the hardcopy book, which is an unimprovable technology, will survive and make a comeback. Eventually, the major publishers will see that they have to be more flexible and responsive. I expect a proliferation of smaller imprints and independents like ours to appear in the next few years, with the distinction between a publisher and author being less stark than it was when my first book came out in 2002. Writers have been forced to take more notice of the production and marketing side of their work, which is an anachronistic luxury that a new writer can not afford.
    
  <p class="pullquote">The moment of the tablet and blog is already passing and the hardcopy book, which is an unimprovable technology, will survive and make a comeback. Eventually, the major publishers will see that they have to be more flexible and responsive.</p>

   
<p class="byline">Edited by Cecilia Mezulic and Carlo Mantuano.</p>

