- content_for :title, "Refining Fashion: The Rise of Refinery29"

:markdown

  <h2 class="title">Refining Fashion: The Rise of Refinery29</h2>

  <p class="byline">By Anastasia Dennis and Carlo Mantuano.</p>

  / <p class="dek">A short dek.</p>
  
  <p class="lede">In 2005, Justin Stefano and Philippe von Borries started Refinery29 as New York guide that promoted independent brands within the design, music, and fashion industries. As Stefano and von Borries had never worked in fashion, they took a risk by quitting their jobs in law and politics and jumping into the online media market. What evolvolved was a leading example that direct sales on content sites can be a legitimate way to sustain media. Their company has recently undergone significant changes, and functions today as a lifestyle, fashion, and commerce company whose brand is so strong that it is able to survive on ad sales, which is something that other media companies are struggling to do.</p>

  Over the last ten years, the company has experimented with everything from e-commerce and internally-targeted advertisements to using the data that they collect from their huge email subscriber list (over one and a half million) to sell products. When they created the company, both of them thought e-commerce would be an essential part of their brand. However, after two underwhelming attempts in 2010 and 2011 to center their business ventures around e-commerce, Stefano and von Berries decided to look more towards locking in advertisers and surviving on ad sales. 

  That decision paid off big time. Refinery29’s founders could have never imagined the scale at which their company would grow. They have over four million likes on instagram, a 340% yearly increase in Facebook traffic, and a 100% increase in website traffic from last year to this year. They quickly evolved from a struggling company that tried to capitalize on the vast e-commerce market to a global lifestyle publisher that mainly harvests revenue from advertisements, and creates branded content for their users. In April 2015, Refinery29 raised fifty million dollars, which places the value of the company at $290 million. To give you an idea of their financial strength, Buzzfeed raised the same amount of money in their most recent round of funding, while Vox Media raised three million less.

  Stefano spoke about the company’s experience with e-commerce in an interview with WWD, saying that “The e-commerce business wasn’t doing that badly...We saw a bigger opportunity in the media and content side — [it was] more in line with the direction we wanted to take the business. It wasn’t that [e-commerce] didn’t work out.” It seems like they just didn’t have an effective model that could both draw in investors and users to the site yet.

  Right now Refinery29 seems to be focused on growing their brand through global expansion. Refinery29 is set to launch sites in the UK and Germany later this year. While e-commerce is less of Refinery29’s main focus these days, they are still committed to shopping and providing their users with a well curated selection that they can purchase elsewhere. Being a fashion site, it only makes sense to still fill this gap. 

  I sat down with Refinery29’s fashion features director, Connie Wang, to discuss this global brand’s dominating leadership in the women’s media market as well as who the everyday woman using Refinery29 is. Before working at Refinery29, Wang was an intern at Teen Vogue and Radar Magazine. She has been with Refinery29 ever since its rebranding project beginning in 2013. As the Fashion Features Director, Connie writes articles on fashion news, style tips, and also manages the website’s content in those categories. We started talking about how Refinery29 got to be where it is today.

  “As Refinery29 grew exponentially from 2009 to now, we took on more verticals, more writers, more staff, and more projects, but I think we lost sense of what makes us, ‘us’,” Connie explained. “Our readers these days, they are millennial women, not necessarily in age but in spirit. The majority of our demographic is 18-25 year old women. We have an overwhelmingly female demographic.Our typical reader cares about the mix: it’s not only fashion content or only shopping content. It’s fashion that lives inside of politics, entertainment, thought pieces, and women’s health issues.”

  Refinery29 knows exactly who their audience is and markets themselves as a women's independent publisher. Wang acknowledged some of her competitors, like BuzzFeed and Elle.com, but stated that she doesn’t see them occupying the same space as Refinery29. They might share the same demographic, but Wang sees Refinery29 as a much more cohesive experience for women that they couldn’t necessarily find elsewhere. The site bridges the gap between BuzzFeed, which aggregates and creates content for millennials, and Elle.com, which hosts high quality fashion and women’s lifestyle articles.  

  “I don’t really think there is another site that’s geared towards women and does the stuff that we do. I think the scope of what we do and the limitations that BuzzFeed and Elle.com might have are two different things… it’s very apples to oranges at this point.”

  Refinery29 occupies a niche that is attractive for advertisers. With their brand, global outreach, and established place in the fashion and media world, advertisers feel like their advertisements will be able to capture a specific slice of the market. Advertisers want to sell to those using Refinery29 and those on their website, so what better way to do that than pump ads directly on Refinery29’s website? In doing this, Refinery29 is able to bolster both its catalogue and content output, and once again try to tap into sites that use e-commerce, like Net-a-Porter and ASOS. 

  Wang said “We have experimented with e-commerce a bunch of different ways, from hosting on our site ourselves, to being third party vendors, to promoting new e-commerce ventures… whether it’s fashion news posts, or actually promoting it with collaborations and partnerships. We have been deeply imbedded in making sure that the best of what’s offered in fashion and shopping is available to an international audience through their screens. It’s a changing relationship, but I think that nowadays it’s sort of the norm.”

  As more people come to the site, Refinery29 collects more data and information, which bolsters their impressive email list and creates more opportunities for targeted ads that make real money. They do this by persistently requiring either a sign in through Facebook or an email to create an account.

  In fact, Refinery29 makes it impossible to tap into the curated clothing, jewelry, and beauty products in their shopping section without that information, which makes many users surrender their information in exchange for content. While it only may be logging in with Facebook or an email address, this information becomes valuable because it can make effective highly targeted advertisements. This has made Refinery29 has grow at an incredibly fast pace. More investors and advertizing money only increases their need for more users and more information.

  In Wang’s words, Refinery29 wants to be “the best friend chick” for all of its readers. This may be possible, as the future looks bright for Wang and everybody at Refinery29 — they are rapidly becoming the biggest fashion and women’s lifestyle media company. Time will tell if Refinery29 will be the best friend that sticks around.

