- content_for :title, "Foreign Correspondence in Syria Is Over"

:markdown 
  <h2 class="title">Foreign Correspondence in Syria Is Over</h2>

  <p class="byline">By Katherine Parker-Magyar, edited by Carlo Mantuano and Andreas Eckhardt-Læssøe.</p>

  <p class="dek">  It’s too dangerous to be a journalist in Syria right now so Syria Direct is training young Syrian Journalists in Jordan to be objective when interviewing witnesses via social media.</p>
   
  <p class="lede">The war in Syria has been raging on for four years now, and the ongoing violence and suppression under President Bashar al Assad’s regime has made it incredibly difficult for reporters to establish contacts in the area or provide objective reporting. Syria Direct, a non-profit journalism organization, was founded in 2013 as a means of reporting on the war in Syria. Originally conceptualized as a means of training Syrian journalists, Syria Direct is creating “a new, young press corps having Western values of neutrality and objectivity,” who would then carry on their reporting inside Syria once the war subsided. But as the war have continued, they’ve by now established themselves as the primary source for news out of Syria. And they are now looking into establishing themselves in other countries, through the design of an app, that would enable aspiring journalists to report objectively from war-zones all over the world.</p>

  I spoke with Keenan Duffey, the executive editor and a Mid West to Middle East to transplant — from Milwaukee to Amman. He has been in Jordan since July 2014, after completing his Masters degree in Middle East studies. We discussed Middle Eastern media innovation, including the difficulty of establishing trustworthy contacts in war zones, teaching journalistic objectivity when primarily dealing with sources through social media, and about the surreal [Instagram account of Asma al-Assad](http://abcnews.go.com/International/syrian-president-assads-wife-star-glamorous-instagram-shots/story?id=20164569), Bashar al-Assad’s wife; from looking at it one would have no idea a war is raging while she’s tickling the arm of a child.  

  The longevity of the war, and the endurance of Assad’s regime, was something the founders of Syria Direct did not predict — according to Duffey, they expected Assad’s regime to fall “about a year ago.” The war in Syria continues, however, and the obstacles facing journalists are not only those of safety for the individual journalists, they’re about objectivity as well. The only safe method of entering Syria is through the regime, whose propaganda Duffey drily summarizes as *“everything’s fine, look at those terrorists.”* 
  
  Despite the grim reality Duffey is fundamentally optimistic, thanks to technological globalization and social media. Facebook is the most integral tool in reporting on war zones and communicating with refugee activists. Social media has been vital for the organization, not only as a means of disseminating news from Syria, but also for obtaining information and communicating with contacts in conflict zones. We talked about the role of media and its technological innovations in the Levant section (consisting of Israel, Syria, Lebanon and Jordan), of the Middle East.

  ###### What are the new developments in media in Syria? 
  
  It’s funny, I’ll tell you about our journalists first because they’re in Jordan but they’re Syrian. The way that a lot of our journalists built their networks, and the way we get most of our news now is over social media. A lot of our reporters used to run Facebook pages inside Syria. There were a lot of little local coordination committee Facebook pages. That was how information was shared and disseminated. If you were an admin on one of these pages, that was a very big deal. You were a very well-known person; you have a lot of contacts. At least four of our 12 journalists were admins on 10,000 plus Facebook pages. So they tap into those networks when they come here. They were very well-known so when they call people, or when they’re trying to get an interview, that’s a credential to get people to talk to them. Besides that, Twitter is huge for us in terms of getting information out of Syria. We get so much information via Twitter.

  ###### What are some examples of those political Facebook groups?
  
  Revolutionary would be one. They’re called local coordination committees and it was the way young people organized themselves: planned protests, shared news, warning people about whatever was going on. Every town had them, that’s where we go to for interviews.

  Especially, and this might be interesting, in Raqqa or Deir el-Zor, which are Islamic state provinces dominated by the Islamic State. Each has an activist organization. One is called “Raqqa Being Slaughtered Silently,” the other one is called “Deir el-Zor Under Fire” and they’re an organization but it’s mostly a Facebook page and this is how news gets out of these provinces. The Islamic state would love to catch whoever’s posting on these pages but they can’t. 
  
  ###### That’s really interesting. Social media has been very helpful then in circumventing the Islamic State in those provinces. How would you have been able to contact these activists in the past?
  
  Exactly. You wouldn’t have. We would have had no way. And they can do it on their terms. They’re not always in a place where Skype is feasible. They’re moving a lot so they don’t have solid internet connection. When they find time, they can answer our emails or send out information or post to the Facebook and it’s an effective and safe way for them to get the information out. 
  
  ###### In America, the social media landscape is becoming increasingly fractured: there are more competing platforms and the audience is splintering. Has that affected Facebook usage in Syria at all? Or has it remained just as popular and important?
  
  Instagram is taking off but, again, Twitter and Facebook are very dominant here. You don’t hear about Pinterest or other stuff that I hear about in the U.S. 
  
  ###### So people are really getting their news via social media?
  
  Yes, and especially among the Syrian activity community, especially anyone who is young. And that’s who most of the revolutionaries were — they were all 18 to 22, so now it all continues on Twitter and it all continues on Facebook, that’s how they’re staying in touch with people back home and staying in touch with people here.

  ###### What do you think about the way Queen Rania of Jordan uses social media to connect with people? Do you think that’s an example of propaganda? 
  
  Yes, I’m sure you’re right. Jordan gets a free pass because Jordan is not in chaos: like, *yeah we have some government suppression here and there, that’s okay — that keeps things going.* They’re very good at maintaining the Queen’s image and she actually came from Kuwait working for Apple, so she’s very tech-savvy. I met a guy who dated her. 
  
  ###### Really?
  
  So weird, “Like, I dated the Queen before Abdullah.” But anyway, it’s like any other government media account. It’s just a very cheery view of what’s going on. Just a lot of photo-ops. I follow the King, or the King’s office, on Twitter, and it’s the same thing. It’s just nice photos and if there’s Americans in town — Fox News interviewed the King last Friday — they are just all over social media. 
  
  ###### So that’s the flip-side: social media is the platform both for activism and propaganda.
  
  Right, it’s available to everybody. So even Assad’s wife is on Instagram and it’s creepy and terrifying. It’s just a lot of nice photo-ops. For a long time she was just whitewashing like the war wasn’t even happening. I think she does a lot of photos with fallen soldier mothers now and things like this. But yes she’s on Instagram.  
  
  ###### Some of your editors are based in America. What’s your experience being in Jordan and being closer to the action — what are the benefits?
  
  The thing that ties us here is just the access to our Syrian trainees and reporters, because they’re here so we need to train them here. But honestly, we could set up a newsroom here and do it remotely if they were fully formed professional reporters. Our executive editor is in Philadelphia and she’s here a month every year. She used to live here full time but now she does it remotely. We get the news ready all morning and then at two o’clock she comes on and then she starts editing. And she does that until six pm which is 11 pm on the East Coast. You could do it remotely if you didn’t need to be here training and helping, if you just had somehow found a bunch of good reporters. We use Dropbox and she edits and then we go back in and then it’s ready to go and we put it on the site. So it’s actually pretty easy. It sounds crazy when we tell people that our editor is not here but it’s not a big deal.
  
  ###### So, despite the help afforded by this technological globalization, what have been the biggest roadblocks for your reporting on the War? What are the biggest challenges you are working to overcome in getting this information?
  
  Well the biggest challenge — and it’s hard to know how well we’re doing on this — is interviewing people remotely. We want to find good people and we use our networks and we go, *this person is who he says he is*, but we’re not there on the ground to vet them in any real way. So we have to rely on our eyewitnesses and people who are talking to us. We try to use people we trust, or get recommendations from people we trust, but you’re taking a risk because it’s very difficult to verify the information. So we end up publishing a lot of interviews with people and go, *here’s what they said, here’s what they saw — take this for what it is*. We’ll get a lot of criticism from the other side on Twitter. They say, *there they go again just publishing some random person*. But we throw out a lot of potential interviews. There is a pretty high bar. But, even then, we can’t know for sure what they saw and it’s very difficult to find other witnesses because it’s very dangerous everywhere. So to find two people, that’s really difficult. That’s the downside of the remote dealing that we do. We never get to see the people. 
  
  ###### How did you use social media to get contacts and information from people you want to interview? Do you use social media to track people down, to get in touch with people? 
  
  We tap into Facebook. We check into the local coordination committee Facebook pages and then all the interviews are done over Skype. Sometimes they’re done on Facebook, if somebody can’t talk and we need to wait for them to get an internet connection — we’ll send those questions on Facebook chat and they’ll send responses on Facebook chat. 

  ###### What do you think the future of media looks like in Syria? 
  
  It’s really difficult. When we started, the whole idea was to train Syrian journalists who would go back inside Syria once Assad fell, once the war was over — which we thought would be about a year ago. And they would go back in and form a new, young press corps having Western values of neutrality and objectivity instilled in them. But now that seems really unrealistic so what we’re trying to do is keep these networks alive. In the short term it looks like the future of Syrian reporting is going to be remote reporting tapping into activists who remain behind in the war zones. 

  For Western journalists, you can’t go into Syria anymore: the only place you can go and be safe would be with the regime. But you’re only going to see regime stuff, so you’re not even going to see anything. They’ll take you in but they’re only going to take you to Damascus and say *everything’s fine, look at those terrorists*. But if you go into Syria in any other way, no matter which side, there’ll always be the risk of being kidnapped, as long as there’s money in kidnapping western journalists, anyway, and that’s even the best motive your kidnappers can have. So foreign correspondence in Syria is really over, it seems. No one is willing to sponsor any correspondents to go in there. So this remote method that we’re using seems like the future. And we’re actually trying to start Iraq Direct. That’s our next thing because there’s a million Iraqis in Jordan too, from the war in the last two decades. So we’re trying to do that and it will be the same model.

  Going forward, the thing that ties us to Amman is the training. We actually have Syrian journalists here in this office, so we train them here. But in the future, the plan is to build an app or some kind of web program so that we can iterate this to other warzones. It will be like Coursera, where you get lectures and homework and someone on the other side would be vetting their progress and story writing. And you can do something like Yemen Direct, where right now it would be very hard. There’s no town like Amman where a bunch of Yemenese could really do this. Jordan’s kind of a special case. But to cover Yemen you need to do it online. 
  
  We’re working on what that would look like and if it’s feasible. We are trying to grow as a web app for training young people in very basic skills. That’s what’s missing — people can learn the technical skills; how to work a camera or how to do video editing is rudimentary, you can learn that. But how to be objective and how to interview and how to do things like this — they seem really basic but they’re much harder to teach.

  So that’s what I think as it gets crazier around here and more dangerous for journalists to work. There are still people who want to report but if you want to professionalize journalism in this way, a web app is something you have to do. In spite of all the chaos, their cell network is still running because there’s money to be made in it so they’re still running cell networks inside Syria. It’s crazy.

    
