- content_for :title, "The Age of Engagement"

:markdown  
  <h2 class="title">The Age of Engagement</h2>

  <p class="byline">By Silje Kristine Andersen, edited by Carlo Mantuano.</p>
   
  <p class="dek">An interview with Matter’s Editor-in-chief, Mark Lotto, on being in the intersection of user generated content and old school journalism, and being more like The Clash than the symphony.</p>

  <p class="lede">In his introduction to Matter, editor-in-chief Mark Lotto calls it a magazine for a generation that grew up not caring about magazines. With that statement, Medium/Matter is excused from following the traditional “make it look like it could be published on print” line of thinking that most publications still hold onto. This allows for new ideas and creative ways of publishing, but it also can create setbacks as publications test new waters. Medium, a highly-navigable platform, and Matter, a publisher of long-form journalism, are still struggling to solve what might be the biggest running question in the media industry: how to be new and innovative while at the same time building trust with a generation of Internet users who are sick of having too much useless information thrown in their face on a daily basis. On Medium/Matter, in-depth journalism and clickbait articles blend in a classic web 2.0 fashion, and it can be difficult to know if you are indeed on Medium or on Matter. Yet, there is something about this online publication that makes it stand out from the crowd.</p>

  Ev Williams, co-creator of Twitter, meant for Medium to be “new place on the Internet where people share ideas and stories that are longer than 140 characters and not just for friends.” He says it is meant to be used by everyone from professional journalists to amateur cooks, and he also boldly states that “It’s designed for little stories that make your day better and manifestos that change the world.” This can come off as a bit overwhelming. Is this not simply a description of the Internet itself? I can, however, tell you that after having tried it out for a little while, it really feels like a long-form Twitter for people who miss blogging. I mean this as a complement. If you have something to say and want to be heard, this is the place for you. One big question is still left unanswered though: can such platform also be a space for serious, investigative journalism?

  Williams must have thought so, since he bought the newly founded publication Matter in 2013. All of a sudden, Medium was no longer just a platform for the everyday people, but a serious publisher as well. I sat down with Mark Lotto to hear his vision for Medium/Matter. We met at Everyman Espresso over a small, regular coffee and a latte. Luckily for me, he was immensely interested in sharing his vision and advice, and only took short breaks to eat his blueberry muffin.  

  ###### Silje Kristine Andersen: When you’re navigating through Medium/Matter, it is difficult to know whether you are reading on Matter or Medium.
  
  Mark Lotto: It's hard.
  
  ###### Is it supposed to be difficult to distinguish them?
  
  No, but the platform is still new and young, and the distinction between the publication and the platform is a lot more distinct than when I first started out. It is only going to get more distinct.
  
  ###### Are you comfortable with Matter being called a publication?
  
  Yeah. 
  
  ###### Because there has been some talk whether it really is a publication or a platform.
  
  Well, Medium itself is a platform in the sense that any single person can go on right now. But Matter is a magazine that is built on Medium. The great thing about Medium is that it is more than just a CMS (content management system). It's not just a publishing platform, but an actual network. It’s about connectivity. It's about getting the right pieces and the right writers to the right reader at the right time. Matter is very different. We've been doing this about eight months, and I think it feels distinct; my hope is that it feels even more distinct eight months from now, but yeah, I think of it as an actual magazine.
  
  ###### You are the editor-in-chief, right? What exactly does that entail?
  
  What it entails is setting the vision for what the publication is going to be. What our direction is going to be. And then helping everyone on staff, all the editors, the writers below me, to fulfill that vision. Matter is a little complicated in the sense that Matter started out originally as a long-form science publication founded by Bobby Johnson and Jim Giles. Bobby continues to work for me, but Jim is no longer there. It was acquired by Medium not long after it raised its money on Kickstarter. They spend about a year putting about essentially one piece every month on Medium, and they did a lot of tremendous work at that time, work we still often highlight, but there was a sense that there was a limit to what you can do with just one piece a month. There's also a limit to what you can do if you are that science focused. And science is a field that is actually relatively empty when they started, and has become incredibly crowded since then, with Mosaic, Aeon, even to a lesser degree or a specific standard, it's just becoming a very busy field, in a way that it wasn't when Medium started out. 
  
  ###### What is your background? How did you come to Matter?
  
  So I've come to Medium from GQ, I was there for two and a half years. Before that I was at the Times for five and a half years, where I was the editor of the op-ed page. Medium has always had an editorial team from its very early days, whose original mission was to seal the platform with original and diverse content. When Medium first started it was basically just technical writing about entrepreneurship, but they wanted it to be a place for all kinds of stories. The next stage of that was about how to, if we were going to pay for work, have real impact, a real heft to it. We couldn't exist in that weird twilight area anymore, where people were like "Hey, what's paid for on Medium, what's not paid for? Or what's user, what's professional?" So if we were going to do professional work, it had to do more about impact, value, and meaning. That was what I originally started working on. It became increasingly clear the best way to do this was to actually build a publication, so that was when we got the idea to take Matter and turn it into what it is now, which is a place for big, ambitious stories about culture and current events. Science remains part of it, but it is a much broader area of social issues in the world we all live in.
  
  ###### The people at Matter, are they mostly freelancers?
  
  We have three editors aside from me, two staff writers, and two art directors. All of them work full time. Then we largely run on freelance writing. I think in the near future it will be a little less freelance and a little more regular voices. I don't really think you can build something entirely on freelance. 
  
  ###### From what I've read, Matter is all about long-form journalism. However, there are many short articles on your page.
  
  Yeah, I would say that long-form journalism is sort of one tool on our belt. In the sense that I think of what we do as big journalism, we don't do the bullshit story if it’s dead. We don't give a fuck, or I try not to give a fuck about whatever every other media outlet is working on that day. We take a step back and try to do something a little bigger, a little bolder, a little broader. Sometimes that works, sometimes it doesn't. Sometimes the best way to do that is 10,000 words. Sometimes it's going to be a ten part series. Sometimes it's just the right 500 words or sometimes it's a purely visual thing, or a video. So it's like, of the things that we do best, long-form is at the top of the list. We've been nominated for two National Magazine Awards, one for public interest on a piece we did on [pedophilia](https://medium.com/matter/youre-16-youre-a-pedophile-you-dont-want-to-hurt-anyone-what-do-you-do-now-e11ce4b88bdb) and one for Feature Photography for [a story on Syria](https://medium.com/matter/whoever-saves-a-life-1aaea20b782). I think that we've gone furthest with long-form, but I also think that long-form is a crazy crowded field right now. Everyone is all of a sudden doing it. It seems like everyone is publishing 4,000 word pieces everyday, and most of it is garbage. Readers relate to stories based on what they feel is new to them, whether they care about them. They don't care that much about craft or beautiful sentences. 
  
  <p class="pullquote">Yeah, I would say that long-form journalism is sort of one tool on our belt. In the sense that I think of what we do as big journalism, we don't do the bullshit story if it’s dead. We don't give a fuck, or I try not to give a fuck about whatever every other media outlet is working on that day. We take a step back and try to do something a little bigger, a little bolder, a little broader.</p>

  ###### What is Matter's position when it comes to traditional journalistic ethics? 
  
  There are some rules of old school journalism that we hold on to. All of our features are edited, top edited, fact checked, and copy edited. When we close a big story, the process by which it closes is virtually indistinguishable from the work that I used to do at GQ. Things get legal checked if they need to. We are pretty hardcore about that stuff. I was never that wild about fake objectivity to being with, so we don't pretend to do it. I think that, the thing about Matter in particular, but Medium too, is that you can build something on quality. You know what I mean? You can sell stuff that's good, and people respond to it. You can build things with seriousness, intention, and purpose, and people will respond to it. 
  
  ###### Yeah, my first instinct when I started reading articles on Matter was “I can trust this”.
  
  That's good to know. What is interesting is that we recently did this experiment, because I was just sort of curious, with clickbait. We spent a week just doing super clickbait-y things, with super clickbait-y headlines. The traffic went up, but people read less of the story, and they shared it less than when we did something that was really meaningful.
  
  ###### About clickbait. You have a system where you focus more on reading time instead — how long the reader spends on the article. In what way is that connected to how you pay your writers?
  
   Right now, we pay very traditional, competitive rates. Whether or not we might consider different payment models later is an open question.
  But at the same time, what is important about read time and engagement is that it gives you a different way to judge the success or failure of a piece. It's not just about how many views a piece gets. Maybe a piece was read by fewer people, but they read the entire thing. Ultimately, this is a much more satisfying metric. If you are a traditional publication with ok metrics, then all you know is 300,000 people or a million people clicked on your story. You don't actually know anything about whether or not they actually liked it or read it. We track reading more than we track liking.
  
  ###### What about ads. There are no advertisements at Matter, are there?
  
  No, but there will be ways of paying for ourselves soon enough. 
  
  ###### So staying away from ads is a goal?
  
  I think ultimately that is a question for my boss more than for me. I think there are a lot of revenue opportunities out there and I think we are going to explore a bunch of them. 
  
  ###### I've noticed Matter has published fiction too.
  
  We did it once with the vaccine piece. We did it just to try it. It was a short story by Chimamanda Ngozi Adichie, called [Olikoye](http://https//medium.com/matter/olikoye-b027d7c0a680). Someone is going to reinvent short fiction for the Internet age, I just don’t think it's going to be us.
  
  ###### So Matter won't continue publishing fiction?
  
  No. You'll probably see more of it on Medium, but not on Matter. If the right story came to me again, I would do it, but I'm not going to spend a lot of time searching. 
  
  ###### We have seen a trend of people in the publishing industry going from well-established traditional jobs like the New York Times to new places such as Fusion, Matter, or Upworthy. What do you think the reason for that is?
  
  I think everyone has his or her own reasons, so I can only speak to my own. I wanted to be young when I was young. I'm just about to turn 37, and I moved to Medium just after I turned 35. I didn't want to spend my time at institutions that had been around for seven years, or 150 years. I loved those institutions, I grew up reading them, and I'm incredibly proud of the work that I did there. The comparison I always use is that I'd like to play in the philharmonic, but I *always* wanted to play in The Clash. I hope that if I was in London in 1977, I'd be going to Clash shows and I wouldn't be going out to listen to classical music. I would want to feel like I have something to contribute to something that is new. 
  
  ###### Do you feel like there is more room to be creative at Matter, compared to The New York Times?
  
  I think creativity is the wrong term. I can do the work that I want to do in a less mediated way. I don't have to speak through the voice of the institution. Now, there are advantages you know, if you are at the Times op-ed page you can pass a law, save people from genocide, and change lives. You have direct influence on world events. The President reads the Times every morning. Whatever I've done since then has not, by far, had the same influence. So those were both incredible opportunities that were incredibly satisfying, challenging, and interesting. It’s that there is a type of work, especially for younger readers, but also for young writers and editors. There is a type of authenticity, or feeling, in this work where you feel like you have a real stake in it. That is probably going to happen outside of those kinds of institutions right now. I'm sure people feel that it happens everyday at places like Buzzfeed and Vice, and those are massive institutions. 
  
  ###### Do you think that power dynamics will change? Will newer and smaller publications have more of the kind of power that the Times has?
  
  I think that newer publications will have that level of influence. Buzzfeed, which was founded in 2006, and Vice, which is kind of old at 20 — those places are new compared to the Times, which was founded in the 1850s. I'm not convinced that a publication like The New Inquiry can have the same influence as a publication the size of the New York Times. But a *story* in The New Inquiry can compete with a story in the New York Times. 

  <p class="pullquote">News and stories are not delivered through a vertical hierarchy anymore, the information age draws its power from a horizontal structure. <a href="https://medium.com/@stephenkhan/move-over-citizen-journalism-here-comes-smart-journalism-ace72f97a389">Smart journalism</a> is what is produced when citizen journalists and professional journalists work together. This is exactly what Matter has realized.</p>


  As I took a sip of my coffee and looked around I noticed 10 people with their laptops, no one was reading a newspaper. For a brief second I was tempted to ask if we really need more publications desperately fighting for our attention. If every publication has the same level of power, what distinguishes one from the other? How will they influence the future of publishing and journalism? There is no hiding from the fact that the Internet has become a messy and undefinable place. Is there an inflation in the publishing industry? Do we really need hundreds of new publishing institutions if they will go by unnoticed? These are questions Medium/Matter have tackled, their response is this ‘platisher’ (platform-publisher), a meeting place for writers, publishers, readers, and editors. Ideally, Medium and Matter should be the only place you need. Together, this community can actively shape the future of publishing and online journalism, not by revolutionizing content, but through form. News and stories are not delivered through a vertical hierarchy anymore, the information age draws its power from a horizontal structure. [Smart journalism](https://medium.com/@stephenkhan/move-over-citizen-journalism-here-comes-smart-journalism-ace72f97a389) is what is produced when citizen journalists and professional journalists work together. This is exactly what Matter has realized. 

  
  ###### Will Matter revolutionize the way people read online?
  
  I would be an idiot if I answered yes to that, but we are in the social media age. Every publication is fundamentally playing the same game of social spread: how do you get readers to see your content on Facebook and Twitter? Maybe it's content that is exclusive to that platform, maybe it's content that is meant to draw people back to your publication, but fundamentally the game that everyone is playing is the game of social spread. I believe, and a lot of people smarter than me have predicted that there is an age of engagement coming up next. Read time is just the tip of the iceberg on what engagement means if you take it seriously. I think the question becomes, how do you create a publication that is built for engagement rather than a publication built just to get people to share your stories on social media. I think Medium is particularly well suited to answer that question. It's an open platform where anyone can write, anyone can respond, and they can all talk to each other. I think people are going to have to stop using engagement as buzzword and start taking super seriously.
  
  ###### Yeah, something I found intriguing about Medium/Matter is that you can comment all the time, wherever in the text. You can highlight bits of the text that you like and share. I'm almost surprised this isn't a common feature on more online publications. 
  
  We first did it for an old piece by Michael Paterniti, who is a GQ writer and was an Esquire writer before that, he just had a new collection of essays come out, and he wrote this piece called "[Eating Jack Hooker's Cow](https://medium.com/matter/eating-jack-hooker-s-cow-759583a9caf1)," which is a piece about race in America that is difficult in many different ways. Difficult then, but I think especially difficult now. We had two young writers actually interview him in the notes, like in the comments, where they had a conversation about the issues at stake in the piece. I think that was the beginning of some cool things we should be able to do.
  
  ###### Where those notes edited or did the notes display the exact conversation?
  
  It's pretty much displayed exactly the way it went down. We sort of mediated the conversation, but it's pretty pure between all of them. 
  
  ###### How do you think other publications are looking at Matter?
  
  I have no idea! I'd be afraid to even guess. I mean, I know what our numbers are, and our numbers are good. Other than that I only ever hear from my friends and my parents. My friends seem to like it. My parents are mixed. 
  
  ###### What if you had to pinpoint one goal for Matter? What would you see in the future for Matter, say five years from now?
  
  I think right now, there is a type of reader, an audience of which you and I are both a part of, sort of a young, globally minded, creative people. People who are incredibly emerged in the Internet, but feel pretty exhausted by it. There's just all this shit coming at you every single day. It's not only that you don't know which of it you need to read or not, but you also don’t know where to talk about it. I want Matter to become the publication where people can not only read work that is big, ambitious, relevant,  imaginative, and fun, about the world around them and the lives that we are all living, but work that is a place where you can actually talk about those ideas and issues. That to me is success. That it is not only a place for us to tell great stories but for people to share their own ideas and stories, and points of view in a way that feels really different and meaningful. 
  
  ###### I like that Matter believes in their readers and thinks that they are smart enough to be a part of the conversation. I feel that so many of the more old fashioned publications still operate by the idea that we are the ones to tell our readers what to think, whereas Matter says, "let's talk about this."
  
  Yeah, I also think that this challenges us. I mean, it would be much easier if we were just saying "Alright, we are going to cut off a slice of the New York Times readership.” I think there is an audience out there, for whom a columnist is more talked about than read, for whom the Guardian feels like a newspaper, and for whom Buzzfeed is an increasingly dominant news-force. This is a magazine for them.  

  As Mark throws away our coffee cups, I wonder if this doesn’t also apply to people for whom the world is not limited by national borders and language. The “generation who grew up not caring about magazines” did not do so because they lacked an interest in world events. They grew up not caring about magazines because they were in print and this generation were the first to spend their childhood and adolescent in front of the computer screen. The fact that the web brought globalization to a whole new level is already old news in 2015, so why is it that so many publishers only look for readers on a national scale? If this new audience grew up online, they also learned to see the world from a more international perspective than the generations before them. Is there any use for the distinction between national and international news anymore? Goethe’s ‘Weltliteratur’ might benefit from a Web 2.0 definition update. Mr. Lotto seems to agree,  as he grasps the opportunity to do some research himself:

  
  What does your generation in Norway read? Did you read English publications growing up?
  
  ###### Well, growing up we only read news in Norwegian, but now from my personal experience, I think most news savvy people in their 20's read Buzzfeed and Vice just as much as traditional Norwegian newspapers. 
  
  Right, I do think that there is an opening in that audience. People share a certain kind of global, progressive, and cosmopolitan values. There is a real opening in that readership. This gives us more opportunities than if I were only trying to break into the New York and San Francisco readership. 
  
  ###### Just this morning I saw a [Norwegian online publication](http://http//www.tv2.no/a/6713261) referring to Matter in their article. They had basically just translated the main concepts of Elmo Keep's article “[Mars One Finalist Explains Exactly How It‘s Ripping Off Supporters](http://https//medium.com/matter/mars-one-insider-quits-dangerously-flawed-project-2dfef95217d3)”. 
  
  Really? That one's been pretty big for us. What's funny is that we actually did [a giant piece](http://https//medium.com/matter/all-dressed-up-for-mars-and-nowhere-to-go-7e76df527ca0) about it back in November, which basically said everything that's in this latest story, but in the latest story, because we had an actual Mars One finalist who's kind of disclosing his experiences, it has really blown up in a different way. We are actually doing another piece today, a further investigation. It has the value of a good news scoop. 
  
  ###### So global readership is a goal for Matter?
  
  Definitely! We actually do, our audience is about 40% international. Medium in general has very high international readership, and Matter is a pretty strong reflection of that. It's not just that it frees us to do stories from Sierra Leone, Syria, Sweden, Australia, or Hong Kong, it is also that we don't have to write those pieces so that they are just explaining international affairs back to American audiences. We can find people who want to read those stories elsewhere. 
  
  ###### What would you say to those in my generation who are getting into publishing? Do you have any advice?
  
  I'm one of those people who believe that this is the greatest possible time to be a journalist. I don't want my daughter to do it. I’d like her to go be a scientist or something, but I still think that this is an amazing time, because there are almost too many outlets out there. A lot of them are doing exceptional work, And all of them feed off of the energy and creativity of young people. But getting that first job is hard. Getting all the subsequent jobs is easier than it ever was. 
  
  ###### How did you get your first job?
  
  It took me a long time. I graduated in 2000 and started looking for work the as the dot com media bubble was blowing up. Then 9/11 happened, and it was a really awful time to try and become a journalist. I did better the second time I came to New York, when I tried to do it again in 2004. Back then it was very simple, I didn't want to go to journalism school, but there were some very good internships here in New York. Harper, The Nation, N+1, The New Yorker, were the best for making certain kinds of connections, but I don't know if that is still true anymore. You should look for the places that are really expanding and investing in new voices. I would always go for the new place. Especially right now. There are literally more jobs right now than people know how to hire for. 
  
  ###### Even in journalism and publishing?
  
  Definitely. It doesn't necessarily feel like it if you are an applicant, but there are a lot of people hiring all the time. 

  It feels natural to finish with a quote from the late David Carr’s [The New York Times’ column about Medium](http://www.nytimes.com/2014/05/26/business/media/a-platform-and-blogging-tool-medium-charms-writers.html), as it still rings true one year further into the site’s development: “Although he did not say so, Mr. Williams is putting good tools out into the world and letting the users decide what the product is. That strategy worked out O.K. for Twitter.” Despite its elusiveness, there is no denying the possibilities of Medium/Matter. If you are worried about the future of journalism and publishing, I advise you to seek out Medium/Matter; it allows you to create, shape, and map the future of our media landscape. 
