- content_for :title, "My Lunch wth Reihan"

%span.monospaced
  :markdown
    
    <h2 class="title">TINY MAMMAL or MY LUNCH WITH REIHAN</h2>

    <p class="byline">By Katie Parker Magyar, edited by Andreas Eckhardt-Læssøe.</p>

    <p class="dek">A play by Shea Sweeney, based on an interview with Reihan Salam.</p>

    
    CAST OF CHARACTERS

    \* **REIHAN SALAM:** 35-year-old man in a gray suit, very animated and engaged, political commentator, Executive Editor of National Review, columnist for Slate, interviewer for VICE podcast, makes appearances on CNN and The Colbert Report among others. 

    \* **SHEA SWEENEY:** 22-year-old woman in black jeans and leather jacket, New School student. 

    \* **UPSCALE HOTEL PATRON** - **RESTAURANT GOER** - **WAITER**

    \* **DOORMAN** - **HOST 1** - **IMAGINARY DAUGHTER 1**

    \* **CONCIERGE** - **HOST 2** - **IMAGINARY DAUGHTER 2**  

    \* **SLURPING MAN** - **HOST 3** - **IMAGINARY DAUGHTER 3**

    \* **HILLARY CLINTON** - **IMAGINARY WIFE** - **UNCLE DREW**

    \* **JEB BUSH** - **IMAGINARY REIHAN** - **SEAWEED SNACK SALESMAN**

    ### SCENE I ACT I 

    *Cavernous lobby of the Gramercy Park Hotel (The same hotel where one of Reihan’s VICE interviewees, Molly Crabapple, once locked herself in a room for a week of non-stop drawing). DOORMAN stands near the entrance, CONCIERGE sits at back desk. SLURPING MAN - a person in slightly tattered clothes - occupies a plush chair and slurps beige liquid from a plastic cup. Hesitant to say it’s coffee.* 

    **Enter SHEA.** 

    #### SHEA
    Hi, is that the restaurant? Maialino? (Points to another door.) 

    #### DOORMAN
    Yes, it is. 

    #### SHEA
    Great, thank you. 

    *SHEA glances at the clock on her phone. She’s early. Looks up again and DOORMAN has a disgusted expression on his face. She is confused. Is she doing something weird? She turns. SLURPING MAN smiles at her. She smiles back. She goes to sit in a chair across the room facing SLURPING MAN. UPSCALE PATRON with British accent approaches CONCIERGE.*

    #### UPSCALE PATRON
    Can you recommend massage therapy in the neighborhood? Can someone come here? 

    #### CONCIERGE
    Yes, we can contact someone for you who can come to your room. 

    #### UPSCALE PATRON
    Oh good. I’ll come by again later. 

    #### CONCIERGE
    Have a nice day. 

    *UPSCALE PATRON exists. SLURPING MAN stands and slowly walks to the door.  DOORMAN, SHEA, and CONCIERGE watch him leave (The subtle epicness should draw a tear). After a pause SHEA walks through door to Maialino.*

    *End Scene I.*



    ### SCENE II  ACT I

    *Entryway of Maialino. Three HOSTS stand behind a desk. A RESTAURANT GOER with an American flag pin on his suit lapel stands by the desk. SHEA walks to the desk.*

    #### HOST 1
    Hi, how are you? 

    #### SHEA
    Good, thank you. I have a reservation for one pm. I’m a little early. 

    #### HOST 1
    What’s the name?

    #### SHEA
    Shea Sweeney. 

    #### HOST 1
    I can seat you now, or you can wait here for the other member of your party. 

    #### SHEA
    I’ll go ahead and go to the table. 

    #### HOST 1
    Okay, great —  

    #### SHEA
    I mean, um, actually, he doesn’t know what I look like, so I’ll wait here...sorry. 

    #### HOST 1
    Oh okay...That’s okay. We’ll seat you when he gets here.  

    *SHEA walks away from the desk and waits. RESTAURANT GOER turns to the HOST.*

    #### RESTAURANT GOER
    My daughter is meeting me here today. She runs a non-profit organization. 

    *HOST 1 sees something that needs attending and walks away. HOST 2 does the same. HOST 3 is left alone. She smiles politely.*  

    #### RESTAURANT GOER
    Are you on social media? 

    #### HOST 3
    Yes, I am. 

    #### RESTAURANT GOER
    Here, take her card. (Hands HOST 3 a business card) See there? Tell your friends about it. My daughter is an angel. 

    #### HOST 3
    Thank you, I will. 

    *HOST 1 and HOST 2 return. RESTAURANT GOER hands them business cards.*

    #### RESTAURANT GOER
    Are you on social media? This is my daughter’s organization. Tell your friends. 

    *REIHAN enters from another door and goes to desk. SHEA walks over and taps him on the shoulder which startles him a little.* 

    #### SHEA
    Hi Reihan, I’m Shea. Nice to meet you. (They shake hands. RESTAURANT GOER stands right beside them watching with a big smile.)

    #### REIHAN
    Hi Shea, so nice to meet you! Thanks for meeting me here. Tell me more about this class, what are you studying? 

    #### SHEA
    Yeah, its a class on 21st Century publishing, and for the project we are interviewing people in media about the ‘contemporary media landscape.’ 

    #### REIHAN
    Did you grow up in a family that consumed a lot of media? Were your parents really into the news?

    #### SHEA
    Well... I guess... My mom has always been an avid reader so I don’t know how much we focused on stories in the media, but stories in books were important. What about in your family? 

    *REIHAN ponders this as he and SHEA follow HOST 1 off stage. He starts to answer as they walk off.* 

    End Act I. 

    ### SCENE I ACT II 

    *HOST 1, REIHAN, and SHEA enter main area of restaurant. There’s one table with four chairs and menus. Two are empty and the other two are occupied by HILLARY CLINTON and JEB BUSH who look like they’ve been anticipating REIHAN and SHEA’s arrival. SHEA see’s them and is terrified. HOST 1 and REIHAN don’t see them. HOST 1 pulls out chairs and then exits. SHEA and REIHAN sit.*

    #### REIHAN
    Yeah, I have older sisters so I was interested in what they were into. 
    
    *Enter WAITER. He also doesn’t seem to see HILLARY CLINTON and JEB BUSH.*

    #### WAITER
    Hi, how are you today? Welcome to Maialino. Can I get you started with a drink? 

    #### SHEA
    Just water is good, thanks. 

    #### REIHAN
    I’ll have some green tea, thank you. 

    #### WAITER
    Will anyone else be joining you today? (HILLARY CLINTON and JEB BUSH looks at SHEA with puppy eyes.)

    #### SHEA
    (Responds quickly) No! I mean...no...nope, just the two of us...thank you. 

    #### WAITER
    Great, I’ll be back with your green tea. 

    *WAITER takes the menus in front of HILLARY CLINTON and JEB BUSH. They frown and slouch over then get up and follow the WAITER off stage.*

    #### REIHAN
    I just want to make sure I know so that you can get the information you want for your project, what would you like to talk about?

    #### SHEA
    Well, we’re interviewing key people in media, but we haven’t interviewed anyone involved in conservative media. I felt that would be an important perspective to include. It would just be really great to hear about how you got into media. I also listened to your Longform Podcast interview and I thought it was really interesting how much you talked about being interested in people’s inner lives. So I guess we could begin with, how did you get started in media? 

    #### REIHAN
    These things tend to be driven by your networks. When I was in college I didn't really think about pursuing a career in journalism. I was exposed to a lot of it, however. I read a lot of magazines even when I was very young. I read comic books when I was a kid. 

    *WAITER returns with tea, water, and a bread basket. Exists.*

    #### REIHAN
    When I was a senior in college it was 2001, and the dot com bubble had burst. Everyone goes through this recruiting process to find jobs, and I didn’t go through the process. I basically spent my undergraduate career just doing theater stuff and writing.

    #### SHEA
    Theater? That’s cool. 

    #### REIHAN
    A friend of mine was going to work at The New Republic, and I thought okay I’ll do that too, that seems interesting. Then when I did it for a year, I thought okay well I can do this, I’m in this world, I’m in the flow of things, I might as well just keep doing it. There’s this Microsoft research study which found that only four percent of browser users over a three month period will have read ten news articles and two opinion pieces. For someone like me who writes opinion pieces, that’s kind of my living. 

    #### SHEA
    That’s not a lot of people. 

    #### REIHAN
    It is and it isn't. That’s as many people as who follow ice hockey very closely. And the NHL is pretty popular. In New York and being in media, there are a lot of people who come to believe that this is really important and this person who did this thing is really important. It’s really about as important as the guy who does the third most popular hockey podcast. 

    #### SHEA
    So, why do you write columns? Why do you go on the news and talk shows?
    
    #### REIHAN
    One layer is you started doing a certain kind of job at a certain point in your life. You just do it and it makes sense and you continue to do it in order to make money. With the second part of your question there are a few different components to it. One is that I think of myself as an activist and an advocate, and I also think of myself as a writer. Those things align. A lot of my work brings those things together, but they’re kind of different jobs. Similarly, who reads the things I write? Some people might read them because they’re like-- 

    *HOST 1 pops in from off stage angrily typing on her phone.*

    #### HOST 1
    I want to look at the headline and get really mad and then vent to this person and write a nasty comment on their Facebook! 

    *HOST 1 quickly exists.*

    #### REIHAN
    Other people hire me to get readers to think — 

    *HOST 2 pops in from off stage looking at her phone contemplatively.*

    #### HOST 2
    I want to be surprised. I want to learn something from a different perspective! Maybe I’ll agree and maybe I won’t agree…

    *HOST 2 quickly exists.*

    #### REIHAN
    Another group of readers is — 

    *HOST 3 pops in from off stage staring at her phone and looking smug.*

    #### HOST 3
    I know this person thinks roughly what I think and I can’t articulate why I think these things all the time, but I’ll hire this person metaphorically in choosing to read this article.

    *HOST 3 quickly exits.* 

    #### REIHAN
    This is a moment in media when a lot of people are thinking in a ground-up kind of what. Like, what are we actually doing? There was a time when the technology was limited and you could imagine what people wanted to read. Now we can get a better sense, what do people like to read? Do we decide, well people ought to be reading this and we ought to get them to read that? Maybe that’s right. Or do we think, well, we just go to where the audience is. 

    *Enter WAITER.*

    #### WAITER
    Are you ready to order? What can I get for you? 

    #### SHEA
    What’s your favorite vegetarian pasta? 

    #### WAITER
    Well, the new one... rumps are in season and it’s only going to be around for like a month. I’m not a big vegetarian fan, but it’s absolutely delicious. 

    #### SHEA 
    Rumps, huh. 

    #### WAITER
    Yeah...

    #### SHEA
    Great, I’ll go with that, thank you. 

    #### REIHAN
    Do you mind if I have a starter? 

    #### SHEA
    Go for it. 

    #### REIHAN
    I’ll have the prosciutto and mozzarella, and I’ll have the chicken cutlet. Thank you. 

    *Exit WAITER.*

    #### SHEA
    Can you talk about the VICE Podcast?   

    #### REIHAN
    I just love interviewing people. Demystifying a complicated subject. Just getting a real sense of, who do you think you are? And how does that related to the things you do everyday? I care about that because I do care about this bigger puzzle of how does anyone change their life. Or maybe there are people who don’t change their life and don’t want to, and that’s kind of interesting it itself, but then who do they think they are? What kind of animal do they think they are? That’s just amazing that let’s say even in New York City, among people who come from my background, they are really different.

    #### SHEA
    How’s it going with National Review? 

    #### REIHAN
    I’m very proud to be associated with National Review. It has played a very important role in my life and I’m proud of my colleagues. Small opinion magazines are tricky animals, particularly those that have existed for a long time. 

    *While REIHAN is talking the song “We Are Family” by Sister Sledge fades in low and REIHAN begins tapping his foot, though he acts as though he barely notices the music. SHEA is very confused and looks around for where the music is coming from.*  

    #### REIHAN
    I think of being a conservative a bit like being part of a family. That’s not necessarily a healthy impulse, there are a lot of people who think of that as an unhealthy impulse. That’s how I think of it. I sometimes joke that when I’m in a room with other people who are like me — like children of immigrants — I feel very comfortable. And also when I’m in a room full of conservatives, including no one who’s from that kind of background. It’s like being in a room of people I went to high school with or something. Because there’s an immediate rapport. There’s an immediate sense of mutual understanding, which I find very powerful and kind of fun.

    *The music cuts out abruptly.* 

    #### SHEA
    You’ve worked in both liberal and conservative media. Do you feel that — beyond ideology — there are any structural, fundamental differences?

    #### REIHAN
    One thought is that to some extent it’s more a difference between big institutions and small ones. It’s between institutions that are profit-oriented and those that aren’t. So for example I imagine that a place like The Nation and a place like National Review have a fair bit in common. Because both of them lose money. Both of them are very mission-oriented. And I can’t speak for The Nation, but National Review has many people who are very keen to support it because they believe in its mission. So to some extent that means that it’s going to be a less commercially-minded place. I actually think there’s a lot of space for innovation and that’s a tricky question for older incumbent institutions that came of age in a different time. 

    #### SHEA
    How is National Review going about that? 

    #### REIHAN
    It’s a work in progress. I think we have a loyal audience but our audience tends to be a bit older.

    #### SHEA
    Is that for print and online? 

    #### REIHAN
    The online audience, relative to new media brands, is older; I’d say in part because we are still trying to figure out how to get to where our younger people are. There are many 29 year olds who think of themselves as really young, and they’re not. They’re of a completely different media consuming generation than 22 year olds. People I know think, ‘what is the point of using Snapchat?’ Of course I as a 35 year old man don’t understand it because it’s not for me. 

    #### SHEA
    That’s how I feel about Snapchat.

    #### REIHAN
    Well that’s not good, you need to be less alienated from your generation.

    #### SHEA
    From Snapchat?

    #### REIHAN
    Or your generation period. If you embrace the folkways of old people, you will find yourself obsolete a lot faster.

    #### SHEA
    I don’t think it’s about embracing the folkways of old people. With Snapchat I feel like I’m wasting a lot of time. I feel this way about all social media. I think it’s just my personality type.

    *Enter WAITER with prosciutto and mozzarella.*

    #### REIHAN
    Thank you. 

    *WAITER exits.*

    #### REIHAN
    Do you eat dairy? 

    #### SHEA
    Yes, I do. 

    #### REIHAN
    You’re very welcome to have some.

    #### SHEA
    I’m okay, thank you though. 

    #### REIHAN
    But also, about wasting time. It’s incredible how much time people waste period in life. I’m competing with people spending time with their friends. And it’s amazing when you think about it that way.

    #### SHEA
    Sometimes I get overwhelmed because I feel like I have to see and read everything, every column in order to weave everything together, or else I’ll miss something.

    #### REIHAN
    Yeah, I mean we’ll steal as much of your time as we can. You fall down a rabbit hole. But you know, this world is all going to shake out in a certain way. You have a punctuated equilibrium. An asteroid strikes the earth — 

    *Flying asteroid explosion sound. SHEA and REIHAN duck under the table for a moment, then sit up again.*

    #### REIHAN
    All the dinosaurs die, and then suddenly you have the questions of which different tiny mammal will emerge. That’s what we’re living through right now.

    #### SHEA
    We’re living through which tiny mammal is going to emerge from the media landscape?

    #### REIHAN
    Yeah, and become a dolphin or a tiger.

    *Dolphin sound and tiger sound.*

    #### REIHAN
    That’s exactly what’s happening right now. There’s this huge shock and some people are hustlers and are making it work, and some old brands will adapt and others won’t. We’ll see what happens.

    #### SHEA
    And another part of it is, what is media and what is not media? 

    #### REIHAN
    Give me an example.

    #### SHEA
    I’m thinking about advertising.

    #### REIHAN
    Isn’t everything advertising though? I’m advertising that I’m a cool person that’s smart.

    #### SHEA
    That’s it though. I’m a walking media unit.

    #### REIHAN
    Which is a very dark way of thinking, but sort of makes sense. And then the cringe inducing thing is, what am I trying to say? And then I feel like I have a very specific idea. I feel like I know what I’d like to be like.

    *While REIHAN speaks, IMAGINARY REIHAN and IMAGINARY WIFE enter on a tandem bicycle and ride in circles around the table. They are followed by the three IMAGINARY DAUGHTERS whispering amongst themselves in French. When REIHAN mentions “buying bread” IMAGINARY WIFE steps of bike and picks up the bread in the basket on the table. She gets back on the bike and they continue riding.*

    #### REIHAN
    And I specifically have this image of myself with white hair, on a tandem bicycle, wearing a rain coat. And I envision myself in the future having a wife with a streak of white hair, and just, I don’t know, buying bread. And just having a bunch of daughters who are really smart and are all speaking French. I don’t know, thats a version of my brand. But it’s like, no, that has nothing to do with me actually. That has literally nothing to do with my life. But it’s interesting. What I just said, I was half joking.

    *IMAGINARY REIHAN, IMAGINARY WIFE, and IMAGINARY DAUGHTERS exit. WAITER dodges them on his way in carrying food. He places the plates on the table and exits.* 

    #### REIHAN
    Is there advertising that works on you really effectively?

    #### SHEA
    Oh, I’m sure it all works so effectively.

    #### REIHAN
    There are these ads, I think it’s Mountain Dew. This is an example to prompt you, but there’s this basketball player named Kyrie Irving, and there’s this video of him dressed as an old man. He plays basketball with a bunch of young people, and they’re like ‘whoa, this old man is so good at basketball.’ 

    *UNCLE DREW (old Kyrie Irving in the ad) steps out holding a basketball in one hand and a bottle of Pepsi Max with a straw in the other. REIHAN continues talking and stands up, which prompts SHEA to stand up. REIHAN hands UNCLE DREW a little notebook and a pen for a signature. UNCLE DREW signs and gives REIHAN the basketball, then moves on to SHEA. She doesn’t have paper, so she points at her forehead. UNCLE DREW signs SHEA’s forehead, leaves the Pepsi Max on the table, and exits. SHEA and REIHAN sit.*

    #### REIHAN
    But he’s actually 22. I just think it’s so fun to watch. But the thing is that I’ll probably never drink that soda. I just don't drink soda. But it does create immensely positive associations, because I will spend time watching these ads. Is there anything — and don’t narrow it to video — but I’m curious, do you see this thing are you’re like, ‘Yeah. Right on.’

    #### SHEA
    It’s great you have that Mountain Dew thing.

    #### REIHAN
    It might even be Sprite.

    #### SHEA
    That’s good you don’t remember. It’s some white liquid. 

    *SHEA takes a sip of the Pepsi Max.*

    #### SHEA
    This is something that makes me cringe, but I know I’ve bought into it so far already before I even knew what it was is. That hipster rustic urban aesthetic. It’s everywhere.

    #### REIHAN
    That’s an incredibly astute observation, yeah. It’s kind of like it’s this matrix. It’s very disciplining and very, very interesting. Do you subscribe to any Youtube channels?

    #### SHEA: No.

    #### REIHAN
    That’s bad. I subscribe to Youtube channels. That’s really weak. You should do that when you go home. Just find one, subscribe to one.

    #### SHEA
    What happens when you subscribe?

    #### REIHAN
    Nothing really. Just when you go to Youtube, it will show that the thing has been updated. 

    *Enter WAITER with a plate of cookies.*

    #### WAITER
    Here are some complimentary cookies. Enjoy. 

    *REIHAN hands him his credit card. WAITER clears plates and exists.*

    #### REIHAN
    Do you eat cookies? 

    #### SHEA
    I do, yeah. 

    #### REIHAN
    Okay, good. I might only have one so I’m happy that you’ll eat them. 

    #### SHEA
    Oh, I’ll eat them. Whenever there’s someone around who orders vegetarian or vegan, people are like ‘oh shoot.’ 

    #### REIHAN
    Are you vegetarian? 

    #### SHEA
    I am. But, I’m anti-cookie...kidding.  

    #### REIHAN
    I mean I sort of am, but when in Rome. 

    #### SHEA
    You’re anti-cookie? 

    #### REIHAN
    Look I mean, I used to eat so many cookies. I used to eat like an entire family pack of Chips Ahoy. I would eat it in like a day. I would really pack those away. I remember when my mom would buy non-Chips Ahoy cookies, like actually good cookies, and I had no interest in them. I still kind of don’t. I actually remember when I was a kid, calling Nabisco and saying ‘I’ve had two bags of Chips Ahoy that taste different than the usual.’ And they were like ‘oh, I thank you for noticing. Like we’re going to send you a gift certificate for Chips Ahoy.’ And I was like, cool. But it was very sincere because I was very concerned. I was like, hey, what’s going on here you guys? I’m your biggest fan. I was very committed to my products, to my brands. Do you ever eat seaweed snacks?

    #### SHEA
    Yes, I do.

    #### REIHAN
    Those are the bomb. 

    *SEAWEED SNACK SALESMAN carrying a giant package of seaweed snacks tries to enter, but the WAITER grabs him by the shirt and pulls him off stage.*

    #### SHEA
    I would endorse that product. I would advertise that on my podcast.

    #### REIHAN
    You could do a whole series of articles about the virtues of seaweed snacks. You could do like native seaweed snack advertising in your articles.

    #### SHEA
    Terrible.

    #### REIHAN
    I would happily promote people eating seaweed snacks. They’re so delicious. I would happily do that for free. 

    *SEAWEED SNACK SALESMAN tries to enter again, and again the WAITER pulls him off stage.*

    #### SHEA
    This’ll be my last question, so you can get going. I read in this one article about you that you feel like when you started identifying as a conservative it opened up a lot of things for you intellectually. I’m curious about that because I don’t have a desire to do that. I don’t want to define myself in that way. With a term. I feel like I’m constantly struggling to figure out where I lie. I have a lot of questions I’d like to ask people.

    *Lights quickly fade to one bright spotlight over the table. REIHAN holds up the basketball like Hamlet holds up Yorick’s skull.*

    #### REIHAN
    To some extent it was a way to give me a vocabulary for the things that I believed. And in giving me that vocabulary, it gave me access to a larger tradition of ideas that suddenly felt more relevant, or I came to understand them in a different way. 

    *REIHAN stands with the basketball and moves in front of the table. The spotlight follows him. He spins the basketball on his finger.* 

    #### REIHAN
    There’s a book called On Fraternity by a guy named Danny Kruger. It’s an extremely short book by a guy who used to be an advisor to the UK Conservative party. His observation was that the triptik of the French Revolution was liberty, equality, fraternity. We think of liberty as the party of the right, and equality is generally associated with the left. But fraternity, first of all we don’t think of it all that often, or solidarity, the mutual connections we have to other citizens. So you can think about the vertical connections you have to the state, or hierarchies. But what is our fellow feeling? Are we a cohesive society or not? And he was talking about how in a way that’s the most interesting terrain because right and left have different attitudes toward that terrain, and solidarity, and how we relate to each other. That just made a lot of sense to me, and what he took to be the conservative perspective on cohesion and solidarity, and where it comes from - what are the sources of it? It struck me as very compelling. And then that gave me access to a lot of other people like Robert Nisbet, and people that I don’t actually agree with all the time, but it exposed me to a kind of counter-history of the world. The thing is like, do you really think that people who disagree with you just hate poor people? Which is sort of an answer I get. Do you really think that’s the issue here? And the thing is, if you really believe that, life is super simple. It would be amazing to live in your world in which things are that straight forward. I just don’t buy it.

    *When SHEA speaks the spotlight abruptly shuts off and the main lights turn on. *

    #### SHEA
    What you’re talking about doesn’t seem liberal or conservative. Its just being more considerate.

    *Main lights abruptly shut off again and the spotlight return to REIHAN. He spins the basketball.*

    #### REIHAN
    So, my thing is just a very basic subsidiarity kind of thing; it's easier for those human scale institutions to learn and change based on those textured understandings of people, then it is for formal institutions. By the way, there are all kinds of contractions with that kind of view. It’s a fair argument. And I think that it could be like you’re bringing together different values that matter in different kinds of ways, and trying to kind of reconcile them. One really smart argument that is made by people like Elizabeth Anderson on the left is that governments and corporations are the same. They’re both corporate entities. But governments, at least in a democratic society are democratic. They’re accountable. Corporations aren’t. And so that’s why governments should have wide authority and corporations are kind of suspect for that reason. My view is a little different. My view is that corporations can go out of business. So, if it’s a failed experiment, they can cease to exist and we can start another one. That doesn’t mean that they’re good, but the fact that they can be wound down in that way is very valuable. 

    *WAITER enters and main lights go up. He holds out the check for REIHAN to sign, then starts walking away. REIHAN throws the basketball overhand to the WAITER and the WAITER exits. REIHAN walks back over to the table. SHEA stands.* 

    #### REIHAN
    Hopefully you can make some sense out of this.

    *SHEA and REIHAN shake hands. She looks rather stunned.* 

    #### REIHAN
    Let me know if you want to talk to anyone else. I know some people who you may enjoy talking to. 

    #### SHEA
    Thank you so much for meeting with me. And thanks for lunch, it was really good. 

    #### REIHAN
    My pleasure. Thank you for coming. 

    *REIHAN begins walking off stage and SHEA follows. HILLARY CLINTON and JEB BUSH enter from the other side of the stage. SHEA turns to see them staring at her with puppy eyes. SHEA hurries off behind REIHAN.*

    *Blackout. End.* 






