- content_for :title, "The New Face of Reviews"

:markdown
  <h2 class="title">The New Face of Reviews</h2>
  <p class="byline">By Carlo Mantuano.</p>

  <p class="lede">Any review revolves around the same idea: a personal opinion about a product. However, this is changing. As a medium, YouTube has changed the way that things can be reviewed and has given reviewers greater stylistic choices and freedom. We still see channels that review things in a fairly conventional manner (with one or more people discussing something and giving their opinion on it), but now there are channels that are experimenting and doing weird stuff. For example, Youtube’s view-count promotes creativity to attract attention, which creates certain stylistic choices that haven’t been seen in traditional written reviews or review programs that air on TV. The reaction video is now a legitimate way for YouTube channels to review something. Reviews have been a static genre for such a long time, but now we are seeing their nature change and deviate because YouTube is a medium that was made with the intention of giving everyone their own voice. We’ve picked out seven distinct examples that illustrate how YouTube has incubated an evolution of online reviews:</p>

  ##### TheNeedleDrop ... Subscribers: 463,838

  ###### Frank Ocean - Channel Orange Review

  Anthony Fantano is the self proclaimed “Internet’s busiest music nerd.” His channel proves this, as he pumps five to six reviews a week. His reviews are balanced by his thoughtful and well articulated opinion on the album or piece of music that he is reviewing. He balances this seriousness with silliness; he plays different characters or just does silly things like chopping up the video and slowing it down. He also uses the popular YouTube video editing method where he cuts every other sentence or important point and then refocuses the video. Any music fan who either wants validation about their opinion or wants to find new music would enjoy Fantano’s channel.

  ##### EvanTubeHD ... Subscribers: 1,411,326

  ###### Review of the Largest Gummy Worm

  The remarkable thing about EvanTubeHD is the fact that he’s eight years old and makes almost 1.3 million dollars a year from his YouTube channel. In this review, we can see how well he articulates his thoughts (for an eight year old reviewing a giant gummy worm). 

  ##### BuzzFeedVideo ... Subscribers: 5,872,311

  ###### Professional Baker Reviews Cheap Doughnuts 

  BuzzFeed has a huge YouTube presence and they have a bunch of review videos that often juxtapose reviewers and products in an interesting way. For example, with this video they brought a professional baker to review cheap doughnuts. They are combining high brow with low brow in video form, which yields an entertaining mix of professionalism and amateurism.

  ##### RegularCars ... Subscribers: 170,256

  ###### Regular Car Reviews: 1990 Lexus LS400 

  This channel is interesting because it’s reviewing something that is retro and clearly out of style. However, this automotive car review is more than just that. RegularCars is able to translate his knowledge into genuinely funny insight with his dry sense of humor and POV filming techniques. The videos also feature vintage YouTube pictures of floating cars accompanied by lovely word art to give this channel a true retro feel.

  ##### Daym Drops ... Subscribers: 471,162

  ###### Five Guys Burgers and Fries Review

  The classic reaction video. Daym Drops reviews mostly fast food products in his car as he’s eating them. The level of intimacy, being in his car concealed from the outside world, is what sets this video apart, along with his humorous commentary. This video places you in the passenger seat as Daym is chowing down on a Five Guys double cheeseburger.

  ##### Channel Awesome ... Subscribers: 72,480

  ###### The Nostalgia Critic

  In this video, The Nostalgia Critic, whose motto is “I remember it so you don’t have to,” gives us his top ten cereal mascots and their stories. We get the mascots’ histories with old commercial footage, but we also get his sometimes cringey commentary. He managed to combine the one-man-show review style with actual historical information that can be hard to find. It would have been easy for this video to only contain The Nostalgia Critic’s opinion, but he goes a step further and does the work of adding historical material. Compare his video with this article and the difference is overwhelming. 

  ##### Lazy Game Review ... Subscribers: 264,852

  ###### The Sims 3 Pet Review

  Lazy Game Review’s username pretty much sums up what he’s all about. The review shows a gameplay of whatever game he is reviewing: for this video it’s The Sims 3 Pet Expansion Pack, with his dry commentary over the gameplay. There’s a distinct monotonality to his voice that adds to his persona and makes his commitment to the Lazy Game Reviewer character more convincing. He’s playing the part of a lazy critic while simultaneously making his reviews weird and funny.
